<section class="pricing">
  @* <div class="container"> *@
      <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="price-outer">
                  <div class="price-item">
                      <div class="price-title">                
                          <h3>Basic Plan</h3>
                          <span class="package-price"><sub>$</sub>56<sub>.00</sub></span>
                      </div>
                      <div class="price-content">
                          <ul>
                              <li>Ophthalmologists consultation</li>
                              <li>Complete eye examination</li>
                              <li>Modern equipment</li>
                              <li>Preventive Package</li>
                              <li>Tray Teeth Whitening</li>
                              <li>Free Panoramic x-ray</li>
                          </ul>
                          <div class="price-btn">
                              <a href="#" class="btn"> Choose Plan</a>
                          </div>
                      </div>
                  </div>
                  <div class="price-box"></div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="price-outer">
                  <div class="price-item">
                      <div class="price-title">       
                          <h3>Professional Plan</h3>
                          <span class="package-price"><sub>$</sub>69<sub>.00</sub></span>
                      </div>
                      <div class="price-content">
                          <ul>
                              <li>Ophthalmologists consultation</li>
                              <li>Modern equipment</li>
                              <li>Complete eye examination</li>
                              <li>Preventive Package</li>
                              <li>Tray Teeth Whitening</li>
                              <li>Free Panoramic x-ray</li>
                          </ul>
                          <div class="price-btn">
                              <a href="#" class="btn"> Choose Plan</a>
                          </div>
                      </div>
                  </div>                    
                  <div class="price-box"></div>
              </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
              <div class="price-outer">
                  <div class="price-item">
                      <div class="price-title">             
                          <h3>Premium Plan</h3>
                          <span class="package-price"><sub>$</sub>86<sub>.55</sub></span>
                      </div>
                      <div class="price-content">
                          <ul>
                              <li>Complete eye examination</li>
                              <li>Ophthalmologists consultation</li>
                              <li>Modern equipment</li>
                              <li>Preventive Package</li>
                              <li>Tray Teeth Whitening</li>
                              <li>Free Panoramic x-ray</li>
                              
                          </ul>
                          <div class="price-btn">
                              <a href="#" class="btn"> Choose Plan</a>
                          </div>
                      </div>
                  </div>
                  <div class="price-box"></div>
              </div>
          </div>
      </div>
  @* </div> *@
</section>