<div class="detail-content">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="section-title">
                    <h3>TANITIM FİLMİ</h3>
                    <h2>We’re Setting the Standards in <span>Research & Clinical Care</span></h2>
                </div>
                <div class="action-content">
                    <p>Nemo ipsam egestas volute turpis dolores ut aliquam quaerat sodales sapien undo pretium purus feugiat dolor impedit. Gravida quis vehicula magna luctus tempor quisque vel laoreet turpis urna augue, viverra a augue eget dictum.</p><br>
                    <p>We provide the most full medical services, so every person could have the opportunity to receive qualitative medical help. Our Clinic has grown to provide a world class facility for the treatment of tooth loss, dental cosmetics and bore advanced restorative dentistry. We are among the most qualified implant providers in the USA with over 35 years of quality training and experience.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="video-outer">
                    <div class="video-content">
                        <img src="~/images/home/video-content.jpg" alt="images">
                        <div class="video-overlay">
                            <button type="button" class="play-btn js-video-button" data-video-id='152879427' data-channel="vimeo"><i class="fa fa-play"></i></button>
                        </div>
                    </div>
                    <div class="video-figure"></div>
                </div>
            </div>
        </div>
    </div>