<div class="detail-content">
  <div class="row">
    <div class="col-xs-12">
      <div class="section-title">
        @* <h3>SERVİSLERİMİZ</h3> *@
        <h2>Birlikten Kuvvet Doğar</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="service-item">
        <div class="service-icon mar-bottom-20">
          <i class="flaticon-018-vaccine"></i>
        </div>
        <div class="service-content">
          <h3><a href="department-detail.html">Psikoloji</a></h3>
          <p>The hospital plays a statewide role in rehabilitation services, which includes the Acquired</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="service-item">
        <div class="service-icon mar-bottom-20 child-2">
          <i class="flaticon-023-otoscope"></i>
        </div>
        <div class="service-content">
          <h3><a href="department-detail.html">Beslenme ve Diyetik</a></h3>
          <p>The hospital plays a statewide role in rehabilitation services, which includes the Acquired</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="service-item">
        <div class="service-icon mar-bottom-20 child-3">
          <i class="flaticon-003-blood-sample"></i>
        </div>
        <div class="service-content">
          <h3><a href="department-detail.html">Hamilelik Dönemi</a></h3>
          <p>The hospital plays a statewide role in rehabilitation services, which includes the Acquired</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="service-item">
        <div class="service-icon mar-bottom-20 child-2">
          <i class="flaticon-025-serum"></i>
        </div>
        <div class="service-content">
          <h3><a href="department-detail.html">Çocuk Hastalıkları</a></h3>
          <p>The hospital plays a statewide role in rehabilitation services, which includes the Acquired</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="service-item">
        <div class="service-icon mar-bottom-20 child-3">
          <i class="flaticon-020-examine"></i>
        </div>
        <div class="service-content">
          <h3><a href="department-detail.html">Diyabet</a></h3>
          <p>The hospital plays a statewide role in rehabilitation services, which includes the Acquired</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="service-item">
        <div class="service-icon mar-bottom-20">
          <i class="flaticon-003-blood-sample"></i>
        </div>
        <div class="service-content">
          <h3><a href="department-detail.html">Korona</a></h3>
          <p>The hospital plays a statewide role in rehabilitation services, which includes the Acquired</p>
        </div>
      </div>
    </div>
  </div>

</div>