
@{
    ViewData["Title"] = "Bagis";
}

<section class="bagis">
    <div class="container">
        <div class="row bagis-gorsel">
                <div class="col-12">
                    <img src="~/images/BAGIS_GORSEL.jpg" alt="Bagis" />
                </div>
        </div>
        <div class="row ">
            <div class="col-12 bagis-metin">
                <p>
                    Doctorla'dan hizmet alarak toplumsal değerlere katkı sağlamış, vatandaşlık görevinizi yerine getirmiş olmaktasınız. Bunun yanısıra ülkenin sağlıktan eğitime her alanda  önemli kuruluşlarına ekstra yardım sağlamak istenildiği takdirde, aşağıda görülen bağış linklerden kuruluşa destek olabilirsiniz.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-4 col-lg-3">
                <a href="https://www.losev.org.tr/v6/bagis?gclid=Cj0KCQjww_f2BRC-ARIsAP3zarGM-XmF749-96_NXJiyZ5feg9xr6cDY3lrQAm2CEF-rliycq-SLYLQaAuHoEALw_wcB" target="_blank" >
                    <div class="card bagisCard">
                        <div class="card-body text-center">
                            <div class="bagisLogo"><img class=" img-fluid" src="~/images/losev.png" alt="LÖSEV" title="LÖSEV"></div>
                            <div class="bagisButon">
                                <a href="https://www.losev.org.tr/v6/bagis?gclid=Cj0KCQjww_f2BRC-ARIsAP3zarGM-XmF749-96_NXJiyZ5feg9xr6cDY3lrQAm2CEF-rliycq-SLYLQaAuHoEALw_wcB" target="_blank" class="btn btn-primary">DESTEK OL</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <a href="https://www.kizilay.org.tr/bagis/" target="_blank" >
                    <div class="card bagisCard">
                        <div class="card-body text-center">
                            <div class="bagisLogo"><img class="img-fluid" src="~/images/kizilay.png" alt="Kızılay" title="Türk Kızılay"></div>
                            <div class="bagisButon">
                                <a href="https://www.kizilay.org.tr/bagis/" target="_blank" class="btn btn-primary">DESTEK OL</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <a href="https://www.mehmetcik.org.tr/bagis" target="_blank" >
                    <div class="card bagisCard">
                        <div class="card-body text-center">
                            <div class="bagisLogo"><img class=" img-fluid" src="~/images/mehmetcik.png" alt="Mehmetçik Vakfı" title="Mehmetçik Vakfı"></div>
                            <div class="bagisButon">
                                <a href="https://www.mehmetcik.org.tr/bagis" target="_blank" class="btn btn-primary">DESTEK OL</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <a href="https://www.afad.gov.tr/" target="_blank" >
                    <div class="card bagisCard">
                        <div class="card-body text-center">
                            <div class="bagisLogo"><img class=" img-fluid" src="~/images/afad.png" alt="AFAD" title="AFAD"></div>
                            <div class="bagisButon">
                                <a href="https://www.afad.gov.tr/" target="_blank" class="btn btn-primary">DESTEK OL</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <a href="https://www.darulaceze.gov.tr/Bagis/NakdiBagis" target="_blank">
                    <div class="card bagisCard">
                        <div class="card-body text-center">
                            <div class="bagisLogo"><img class=" img-fluid" src="~/images/darulaceze.jpg" alt="Darülaceze Başkanlığı" title="Darülaceze Başkanlığı"></div>
                            <div class="bagisButon">
                                <a href="https://www.darulaceze.gov.tr/Bagis/NakdiBagis" target="_blank" class="btn btn-primary">DESTEK OL</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <a href="https://tegv.org/bagis-ve-urunler/" target="_blank">
                    <div class="card bagisCard">
                        <div class="card-body text-center">
                            <div class="bagisLogo"><img class=" img-fluid" src="~/images/tegv.png" alt="Türkiye Eğitim Gönüllüleri Vakfı" title="Türkiye Eğitim Gönüllüleri Vakfı"></div>
                            <div class="bagisButon">
                                <a href="https://tegv.org/bagis-ve-urunler/" target="_blank" class="btn btn-primary">DESTEK OL</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <a  href="http://www.tev.org.tr/bagis/" target="_blank">
                    <div class="card bagisCard">
                        <div class="card-body text-center">
                            <div class="bagisLogo"><img class=" img-fluid" src="~/images/tev.png" alt="Türk Eğitim Vakfı" title="Türk Eğitim Vakfı"></div>
                            <div class="bagisButon">
                                <a href="http://www.tev.org.tr/bagis/" target="_blank" class="btn btn-primary">DESTEK OL</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3">
                <a href="https://koruncuk.org/elverinhayatatutunsun/onlinebagis" target="_blank" >
                    <div class="card bagisCard">
                        <div class="card-body text-center">
                            <div class="bagisLogo"><img class=" img-fluid" src="~/images/koruncuk.png" alt="Koruncuk Vakfı" title="Koruncuk Vakfı"></div>
                            <div class="bagisButon">
                                <a href="https://koruncuk.org/elverinhayatatutunsun/onlinebagis" target="_blank" class="btn btn-primary">DESTEK OL</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <a href="https://www.darussafaka.org/bagis" target="_blank">
                    <div class="card bagisCard">
                        <div class="card-body text-center">
                            <div class="bagisLogo"><img class=" img-fluid" src="~/images/darussafaka.png" alt="Darüşşafaka Cemiyeti" title="Darüşşafaka Cemiyeti"></div>
                            <div class="bagisButon">
                                <a href="https://www.darussafaka.org/bagis" target="_blank" class="btn btn-primary">DESTEK OL</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <a href="https://yarinaumutol.com/bagis-yap/#" target="_blank" >
                    <div class="card bagisCard">
                        <div class="card-body text-center">
                            <div class="bagisLogo"><img class=" img-fluid" src="~/images/yarinaumutol.png" alt="Yarına Umut Ol" title="Yarına Umut Ol"></div>
                            <div class="bagisButon">
                                <a href="https://yarinaumutol.com/bagis-yap/#" target="_blank" class="btn btn-primary">DESTEK OL</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <a href="https://www.cydd.org.tr/sayfa/bagiscimiz-olun-23/" target="_blank">
                    <div class="card bagisCard">
                        <div class="card-body text-center">
                            <div class="bagisLogo"><img class=" img-fluid" src="~/images/cagdas.png" alt="Çağdaş Yaşamı Destekleme Derneği" title="Çağdaş Yaşamı Destekleme Derneği"></div>
                            <div class="bagisButon">
                                <a href="https://www.cydd.org.tr/sayfa/bagiscimiz-olun-23/" target="_blank" class="btn btn-primary">DESTEK OL</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <a href="https://www.tbv.com.tr/bagis/online-bagis/" target="_blank">
                    <div class="card bagisCard">
                        <div class="card-body text-center">
                            <div class="bagisLogo"><img class=" img-fluid" src="~/images/bobrek.png" alt="Türk Böbrek Vakfı" title="Türk Böbrek Vakfı"></div>
                            <div class="bagisButon">
                                <a href="https://www.tbv.com.tr/bagis/online-bagis/" target="_blank" class="btn btn-primary">DESTEK OL</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <a  href="https://tkv.org.tr/sponsorluk-bagis/bagis" target="_blank">
                    <div class="card bagisCard">
                        <div class="card-body text-center">
                            <div class="bagisLogo"><img class=" img-fluid" src="~/images/kalp.png" alt="Türk Kalp Vakfı" title="Türk Kalp Vakfı"></div>
                            <div class="bagisButon">
                                <a href="https://tkv.org.tr/sponsorluk-bagis/bagis" target="_blank" class="btn btn-primary">DESTEK OL</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <a href="https://fonzip.com/alikev/bagis?recurring=true" target="_blank">
                    <div class="card bagisCard">
                        <div class="card-body text-center">
                            <div class="bagisLogo"><img class=" img-fluid" src="~/images/alikev.png" alt="Ali İsmaik Korkmaz Vakfı" title="Ali İsmaik Korkmaz Vakfı"></div>
                            <div class="bagisButon">
                                <a href="https://fonzip.com/alikev/bagis?recurring=true" target="_blank" class="btn btn-primary">DESTEK OL</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <a  href="https://www.akut.org.tr/bagis-yap" target="_blank" >
                    <div class="card bagisCard">
                        <div class="card-body text-center">
                            <div class="bagisLogo"><img class=" img-fluid" src="~/images/akut.png" alt="Arama Kurtarma Derneği" title="Arama Kurtarma Derneği"></div>
                            <div class="bagisButon">
                                <a href="https://www.akut.org.tr/bagis-yap" target="_blank" class="btn btn-primary">DESTEK OL</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <a href="https://www.tog.org.tr/bagisci-ol/" target="_blank" >
                    <div class="card bagisCard">
                        <div class="card-body text-center">
                            <div class="bagisLogo"><img class=" img-fluid" src="~/images/tog.png" alt="Toplum Gönüllüleri Vakfı" title="Toplum Gönüllüleri Vakfı"></div>
                            <div class="bagisButon">
                                <a href="https://www.tog.org.tr/bagisci-ol/" target="_blank" class="btn btn-primary">DESTEK OL</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>