<link href="~/css/acildurumsection.css" rel="stylesheet" />

<section class="teeth-protection" >
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <div class="section-title text-center title-white">
                  <h2>Covid-19 Takip</h2>
                  @* <h2>Size özel oluşturduğumuz planlı takvim ile 14 gün boyunca düzenli kontrol yapıyoruz.</h2> *@
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-md-4">
              <div class="tp-item mar-rt-60">
                  <a href="/Blog">
                      <div class="tp-icon">
                          <i class="flaticon-monitor"></i>
                      </div>
                      <div class="tp-content">
                          <h3>Türkiye Verileri</h3>
                          <p>Türkiye'den verileri güncel olarak sizlere sunuyoruz.</p>
                      </div>
                      
                  </a>
              </div>
              <div class="tp-item">
                  <a href="/Blog">
                      <div class="tp-icon">
                          <i class="flaticon-newspaper"></i>
                      </div>
                      <div class="tp-content">
                          <h3>Haberler</h3>
                          <p>Yerel ve Uluslararası haberleri en hızlı şekilde sizlere ulaştırıyoruz</p>
                      </div>
                      
                  </a>
              </div>
              <div class="tp-item mar-rt-60">
                  <a href="/Blog">
                      <div class="tp-icon">
                          <i class="flaticon-analysis-1"></i>
                      </div>
                      <div class="tp-content">
                          <h3>Koronaya Özel Veriler</h3>
                          <p>Koronaya özel verileri en hızlı ve güvenilir şekilde sizlere ulaştırıyoruz.</p>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-xs-12 col-md-4">
              <div class="tp-shape">
                  <img src="~/images/acil_durum/z.png"  alt="Covid-19 Takip">
              </div>
          </div>
          <div class="col-xs-12 col-md-4">
              <div class="tp-item tp-right mar-lt-60">
                  <a href="/Blog">

                      <div class="tp-icon">
                          <i class="flaticon-monitor"></i>
                      </div>
                      <div class="tp-content">
                          <h3>Dünya Verileri </h3>
                          <p>Dünyadan verileri güncel olarak sizlere sunuyoruz.</p>
                      </div>
                      </a>
              </div>
              <div class="tp-item tp-right">
                  <a href="#korunmaYollari">

                      <div class="tp-icon">
                          <i class="flaticon-stay-home"></i>
                      </div>
                      <div class="tp-content">
                          <h3>Korunma Yolları</h3>
                          <p>Korona virüsünden en iyi korunma yollarını sizlerle paylaşıyoruz.</p>
                      </div>
                      </a>
              </div>
              <div class="tp-item tp-right mar-lt-60">
                  <a href="/blog/post/CoronaEkonomi">
                      <div class="tp-icon">
                          <i class="flaticon-profits"></i>
                      </div>
                      <div class="tp-content">
                          <h3>Ekonomi</h3>
                          <p>Yerel ve uluslararası ekonomi hakkında verileri sizlere sunuyoruz.</p>
                      </div>
                      
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>