<section class="faq pad-bottom-0">
  <div class="container">
      <div class="section-title">
          <h2>Frequently Asked <span>Questions</span></h2>
          <p>Below you’ll find answers to some of the most frequently asked questions at Tectxon. We are constantly adding most asked question to this page so if you have a question and don’t see your answer, don’t hesitate to email us at info@example.com</p>
      </div>
      <div class="info-detail">
          <div class="accrodion-grp" data-grp-name="faq-accrodion">
              <div class="accrodion active">
                  <div class="accrodion-title">
                      <h4>How can I improve my oral hygiene?</h4>
                  </div>
                  <div class="accrodion-content" style="display: block;">
                      <div class="inner">
                          <p>Everyone’s needs are different, so have a chat to your dentist about how often you need to have your teeth checked by them based on the condition of your mouth, teeth and gums.</p>
                      </div><!-- /.inner -->
                  </div>
              </div>
              <div class="accrodion ">
                  <div class="accrodion-title">
                      <h4>How do I know if my teeth are healthy?</h4>
                  </div>
                  <div class="accrodion-content" style="display: none;">
                      <div class="inner">
                          <p>Everyone’s needs are different, so have a chat to your dentist about how often you need to have your teeth checked by them based on the condition of your mouth, teeth and gums.</p>
                      </div><!-- /.inner -->
                  </div>
              </div>
              <div class="accrodion">
                  <div class="accrodion-title">
                      <h4>Why are regular dental assessments so important?</h4>
                  </div>
                  <div class="accrodion-content" style="display: none;">
                      <div class="inner">
                          <p>Everyone’s needs are different, so have a chat to your dentist about how often you need to have your teeth checked by them based on the condition of your mouth, teeth and gums.</p>
                      </div><!-- /.inner -->
                  </div>
              </div>
              <div class="accrodion">
                  <div class="accrodion-title">
                      <h4>What if I have to cancel my appointment?</h4>
                  </div>
                  <div class="accrodion-content" style="display: none;">
                      <div class="inner">
                          <p>Sometimes the unexpected happens and you need to cancel your appointment make sure you call us or email us 1 day ago before cancellation.</p>
                      </div><!-- /.inner -->
                  </div>
              </div>
              <div class="accrodion">
                  <div class="accrodion-title">
                      <h4>What do I need to bring to my appointment?</h4>
                  </div>
                  <div class="accrodion-content" style="display: none;">
                      <div class="inner">
                          <p>Sometimes the unexpected happens and you need to cancel your appointment make sure you call us or email us 1 day ago before cancellation.</p>
                      </div><!-- /.inner -->
                  </div>
              </div>
              <div class="accrodion">
                  <div class="accrodion-title">
                      <h4>What are the facilities available in the hospital?</h4>
                  </div>
                  <div class="accrodion-content" style="display: none;">
                      <div class="inner">
                          <p>Sometimes the unexpected happens and you need to cancel your appointment make sure you call us or email us 1 day ago before cancellation.</p>
                      </div><!-- /.inner -->
                  </div>
              </div>
              <div class="accrodion">
                  <div class="accrodion-title">
                      <h4>Do you have an ambulance service?</h4>
                  </div>
                  <div class="accrodion-content" style="display: none;">
                      <div class="inner">
                          <p>Sometimes the unexpected happens and you need to cancel your appointment make sure you call us or email us 1 day ago before cancellation.</p>
                      </div><!-- /.inner -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>