
@{
    ViewData["Title"] = "Doctorla Çerez Politikası";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="service-detail" style="padding-left: 50px;padding-right: 50px;">
    <div class="container">
        <div class="row">
            <p><b>&Ccedil;erez Politikası</b></p>
            <p>İnternet sitemizden en verimli şekilde faydalanabilmeniz ve kullanıcı deneyiminizi geliştirebilmek adına &ccedil;erez kullanmaktayız. Bu &Ccedil;erez Kullanımı Politikası ("Politika"), t&uuml;m web sitesi ziyaret&ccedil;ilerimize ve kullanıcılarımıza hangi t&uuml;r &ccedil;erezlerin hangi koşullarda kullanıldığını a&ccedil;ıklamaktadır.</p>
            <p><b>&Ccedil;erez Nedir?</b></p>
            <p>&Ccedil;erezler, bilgisayarınız ya da mobil cihazınız &uuml;zerinden ziyaret ettiğiniz internet siteleri tarafından cihazınıza veya ağ sunucusuna depolanan k&uuml;&ccedil;&uuml;k metin dosyalarıdır.</p>
            <p><b>&Ccedil;erezlerde Hangi T&uuml;r Veriler İşlenir?</b></p>
            <p>İnternet sitelerinde yer alan &ccedil;erezlerde, t&uuml;r&uuml;ne bağlı olarak, siteyi ziyaret ettiğiniz cihazdaki tarama ve kullanım tercihlerinize ilişkin veriler toplanmaktadır. Bu veriler, eriştiğiniz sayfalar, incelediğiniz hizmet ve &uuml;r&uuml;nler, tercih ettiğiniz dil se&ccedil;eneği ve diğer tercihlerinize dair bilgileri kapsamaktadır.</p>
            <p><b>&Ccedil;erezler Hangi Ama&ccedil;larla Kullanılmaktadır?</b></p>
            <p>Sitede tercih ettiğiniz dil ve diğer ayarları i&ccedil;eren bu k&uuml;&ccedil;&uuml;k metin dosyaları, siteye bir sonraki ziyaretinizde tercihlerinizin hatırlanmasına ve sitedeki deneyiminizi iyileştirmek i&ccedil;in hizmetlerimizde geliştirmeler yapmamıza yardımcı olur. B&ouml;ylece bir sonraki ziyaretinizde daha iyi ve kişiselleştirilmiş bir kullanım deneyimi yaşayabilirsiniz.</p>
            <p>İnternet sitemizde &ccedil;erez kullanımının başlıca ama&ccedil;ları ise ş&ouml;yledir</p>
            <ul>
                <li>İnternet sitesinin performansını arttırmak</li>
                <li>Site &uuml;zerinden sizlere sunulan hizmetleri geliştirmek ve kolaylaştırmak</li>
                <li>Site &uuml;zerinden yeni &ouml;zellikler sunmak ve &ouml;zellikleri tercihlerinize g&ouml;re kişiselleştirmek</li>
                <li>Sizin ve şirketimizin hukuki ve ticari g&uuml;venliğini sağlamak</li>
                <li>Site &uuml;zerinden sahte işlemlerin ger&ccedil;ekleştirilmesini &ouml;nlemek</li>
                <li>5651 sayılı Internet Ortamında Yapılan Yayınların D&uuml;zenlenmesi ve Bu Yayınlar Yoluyla İşlenen Su&ccedil;larla M&uuml;cadele Edilmesi Hakkında Kanun ve Internet Ortamında Yapılan Yayınların D&uuml;zenlenmesine Dair Usul ve Esaslar Hakkında Y&ouml;netmelik'ten kaynaklananlar başta olmak &uuml;zere, kanuni ve s&ouml;zleşmesel y&uuml;k&uuml;ml&uuml;l&uuml;klerini yerine getirmek.</li>
            </ul>
            <p><b>Saklandığı S&uuml;re Bakımından &Ccedil;erez T&uuml;rleri</b></p>
            <p><b>Oturum &Ccedil;erezleri:</b></p>
            <p>Oturum &ccedil;erezlerini ziyaretinizi s&uuml;resince internet sitesinin d&uuml;zg&uuml;n bir şekilde &ccedil;alışmasını sağlamaktadır. Sitelerimizin ve sizin, ziyaretinizde g&uuml;venliğini, s&uuml;rekliliğini sağlamak gibi ama&ccedil;larla kullanılırlar. Oturum &ccedil;erezleri ge&ccedil;i&ccedil;i &ccedil;erezlerdir, siz tarayıcınızı kapatıp sitemize tekrar geldiğinizde silinir, kalıcı değillerdir.</p>
            <p><b>Kalıcı &Ccedil;erezler:</b></p>
            <p>Bu &ccedil;erezler bilgileriniz ve se&ccedil;imlerinizin bir sonraki ziyaretinizde internet sitemiz tarafından hatırlanmasına yardımcı olurlar. Kalıcı &ccedil;erezler, sitemizi ziyaret ettiğiniz tarayıcınızı kapattıktan veya bilgisayarınızı yeniden başlattıktan sonra bile saklı kalır. Tarayıcınızın ayarlarından silinene kadar bu &ccedil;erezler tarayıcınızın alt klas&ouml;rlerinde tutulurlar.</p>
            <p><b>Kullanım Bakımından &Ccedil;erez T&uuml;rleri</b></p>
            <p><b>Birinci ve &Uuml;&ccedil;&uuml;nc&uuml; Kişi &Ccedil;erezler:</b></p>
            <p>Birinci kişi &ccedil;erezler sitemiz tarafından kullanılan &ccedil;erezlerdir. &Uuml;&ccedil;&uuml;nc&uuml; kişi &ccedil;erezler ise sitemiz haricinde bilgisayarınıza kurulan &ccedil;erezlerdir. İnternet sitemizde hem birinci hem de &uuml;&ccedil;&uuml;nc&uuml; taraf kişi &ccedil;erezleri kullanılmaktadır.</p>
            <p>İnternet sitemizi ziyaret etmeniz dolayısıyla elde edilen verileriniz, kişisel verilerinizin işlenme ama&ccedil;ları doğrultusunda, iş ortaklarımıza, tedarik&ccedil;ilerimize kanunen yetkili kamu kurumlarına ve &ouml;zel kişilere KVK Kanunu&rsquo;nun 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve ama&ccedil;ları dahilinde paylaşılabilecektir.</p>
            <p><b>Zorunlu &Ccedil;erezler:</b></p>
            <p>Zorunlu &Ccedil;erezler, internet sitesinin d&uuml;zg&uuml;n bir şekilde &ccedil;alışması i&ccedil;in gerekli olan &ccedil;erezlerdir. Sistemin d&uuml;zg&uuml;n bir şekilde y&ouml;netilebilmesi, kullanıcı hesaplarının oluşturulup kullanıcıların giriş yapabilmesi, sahte işlemlerin &ouml;nlenmesi i&ccedil;in zorunlu &ccedil;erezler kullanılır. Bu &ccedil;erezlerin olmaması durumunda internet sitesi d&uuml;zg&uuml;n &ccedil;alışmaz.</p>
            <p><b>İşlev &Ccedil;erezleri:</b></p>
            <p>İşlev &Ccedil;erezleri internet sitesindeki ziyaretinizi kolaylaştırmak ve site &uuml;zerindeki deneyiminizi geliştirmek i&ccedil;in kullanılan &ccedil;erezlerdir. Bu &ccedil;erezler internet sitesine yaptığınız bir &ouml;nceki ziyareti hatırlayarak i&ccedil;eriklere rahat&ccedil;a erişmenizi sağlar.</p>
            <p><b>Analitik &Ccedil;erezler:</b></p>
            <p>Analitik &Ccedil;erezler, hangi sayfalarımızın daha fazla ilgi &ccedil;ektiğini, hangi kaynakların daha &ccedil;ok g&ouml;r&uuml;nt&uuml;lendiğini g&ouml;rmemize yarayan, sitelerimizdeki trafiği g&ouml;rerek bu trafiğe uygun hizmet sağlamamızı sağlayan veriler i&ccedil;erir. Bu nitelikte kullanılan &ccedil;erezler bilgiyi anonim olarak depolar.</p>
            <p><b>Reklam &Ccedil;erezleri:</b></p>
            <p>Reklam ya da diğer adıyla Hedefleme &ccedil;erezleri, ilgi alanınıza yakın olan i&ccedil;erikleri tespit etmemizi ve sunmamızı sağlayan &ccedil;erezlerdir. Sizi tanıyabilmemiz ve size &ouml;zel reklamlar sunabilmek adına web sitemize ve mobil sitemize, reklam verdiğimiz diğer web sitelerine &uuml;&ccedil;&uuml;nc&uuml; taraf reklam &ccedil;erezleri yerleştirilebilir. Bu &ccedil;erezler ayrıca reklamlarımızın verimliliğini &ouml;l&ccedil;mek i&ccedil;in kullanılmaktadır.</p>
            <p><b>Google Analytics:</b></p>
            <p>Google Analytics kullanıcıların internet sitesini nasıl kullandığını analiz eden bir web analiz aracıdır. Anonim olan bilgilerin yanı sıra internet sitesi kullanımınızla ilgili kişisel veri niteliğindeki bilgiler (İsim, adres, telefon numarası, e-mail adresi, IP adresi) tarayıcınız tarafından Google&rsquo;a g&ouml;nderilir ve Google tarafından kaydedilir.</p>
            <p><b>Tawk</b></p>
            <p>Tawk kullanıcıların doğrudan bizimle iletişim kurmasını sağlayan bir g&ouml;r&uuml;şme aray&uuml;z&uuml; &ccedil;erezidir. Anonim olan bilgilerin yanı sıra internet sitesi kullanımınızla ilgili kişisel veri niteliğinde bilgiler (İsim adres, telefon numarası, e-mail adresi) tarayıcınız Tawk&rsquo;ya g&ouml;nderilir ve Tawk tarafından kaydedilir.</p>
            <p><b>&Ccedil;erezlerin Kullanılmasını Nasıl Engelleyebilirsiniz?</b></p>
            <p>&Ccedil;oğu tarayıcı &ccedil;erezleri otomatik olarak kabul eder. Ancak dilerseniz &ccedil;erezleri tarayıcınızın ayarlarını değiştirerek reddedebilirsiniz. &Ccedil;erezleri reddettiğiniz takdirde sitemizdeki bazı &ouml;zelliklerin ve hizmetlerin d&uuml;zg&uuml;n &ccedil;alışamayabileceğini, sitemizin kişiselleştirilemeyebileceğini ve sizin deneyiminize g&ouml;re &ouml;zelleştirilemeyeceğini l&uuml;tfen unutmayınız.</p>
            <p>Tarayıcınızın ayarlarını değiştirerek &ccedil;erezlere ilişkin tercihlerinizi kişiselleştirme imkanına sahipsiniz. Tarayıcı &uuml;reticileri, kendi &uuml;r&uuml;nlerinde &ccedil;erezlerin y&ouml;netimi ile ilgili yardım sayfaları sunmaktadır.</p>
        </div>
    </div>
</section>