
@{
    ViewData["Title"] = "Hakkimizda";
}

<!-- Service Detail Starts -->
<section class="service-detail" style="">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <!-- Biz Kimiz -->
                <div id="tabid1">
                    <div class="detail-content">
                        <div class="section-title mar-bottom-30">
                            <h2>Size Yardım İçin<span> Buradayız</span></h2>
                            <p>Misyon</p>
                            <p>Doctorla olarak amacımız, sağlık sektörüne yeni bir soluk getirerek sağlığı internet ortamına taşımaktır. Bu şekilde güvenilir ve yeterli sağlık erişimini tüm zor şartlar altında dahi herkes için ulaşılabilir kılmak, bizim kuruluş gayemiz ve en büyük motivasyonumuzdur. Çünkü bize göre sağlık, herkes için, her daim!</p>
                            <p>Vizyon</p>
                            <p>Hedefimiz, her an büyüyen ve gelişen dünyada, dijitalin sağladığı güçle ülke çapında bilenen en iyi interaktif online sağlık kuruluşu olmaya çalışmaktır. Hep büyüyen kadromuz ve sürekli olarak iyileşen teknolojimizle sağlıkta öncü olmak, yerelden sonra Doctorla ismini milli bir gurur olarak küresel ekonomide görmek ise en büyük  hedefimizdir. </p>
                        </div>
                        @*<div class="detail-image mar-bottom-15">
                    <img src="~/images/dental/d-check.jpg" alt="Image">
                </div>
                <div class="detail-desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    <h3>EXPERIENCED & SPECIALIZED DENTAL SURGEON</h3>
                    <ul class="mar-top-15">
                        <li>DENTAL BRIDGE</li>
                        <li>CAVITY PROTECTION</li>
                        <li>Community Services</li>
                        <li>TEETH WHITENING</li>
                        <li>Medical & Surgical</li>
                        <li>DENTAL X-RAY</li>
                        <li>Specialised Support Service</li>c
                        <li>DENTAL IMPLANTS</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                    <table class="table table-bordered mar-top-20 mar-bottom-0">
                        <thead>
                            <tr>
                                <td>S.N</td>
                                <td>Service</td>
                                <td>Price</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>MRI & X-Ray</td>
                                <td>$500</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Full Blood Picture</td>
                                <td>$750</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Echocardiography</td>
                                <td>$200</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>CT & Ultrasound Diagnostic</td>
                                <td>$1400</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Parathyroid Scan</td>
                                <td>$570</td>
                            </tr>
                        </tbody>
                    </table>
                </div>*@
                    </div>
                </div>


                <!-- Nasil Çalisir -->
                <div id="tabid2" style="display:none">
                    <p>
                        <b> 1-Kayıt Ol</b><br />
                        İsim, soyisim, email, telefon numaranızı, branşı ve şikâyet bilginizi girerek hemen üye olabilirsiniz.
                    </p><br /><br />
                    <p>
                        <b>2-Doktor Bilgileri</b><br />
                        Seçtiğiniz branştaki tüm doktorlarımızı listeleyebilir ve birini seçebilirsiniz.
                    </p><br /><br />
                    <p>
                        <b>3-Bağış Bilgileri</b><br />
                        Belirlediğiniz bağış kategorilerinden birini seçerek ‘Dayanışma Hareketine’ ortak olarak destek olabilirsiniz.
                    </p><br /><br />
                    <p>
                        <b>4-Ödeme Bilgileri</b><br />
                        PayTR güvencesiyle rahatlıkla ödeme yapabilirsiniz.
                    </p><br /><br />
                    <p>
                        <b> 5-Randevu Alın Veya Hemen Başlayın</b><br />
                        Doktorunuz ile istediğiniz tarih ve saatte y ada hemen görüntülü, yazılı, sesli olarak sağlık danışmanlığı alabilirsiniz.
                    </p><br /><br />
                    <p>
                        <b> 6-Medikal Kayıtlar</b><br />
                        Hastalığınıza ait medikal kayıtları doktorun yorumlaması için yükleyebilirsiniz.
                    </p>
                </div>
                <!-- SSS -->
                <div id="tabid3" style="display:none">

                    <section class="faq pad-bottom-0 pad-top-0 ">
                        <div class="container">
                            <div class="section-title">
                                <h2>Sık Sorulan <span>Sorular</span></h2>
                                <p>Below you’ll find answers to some of the most frequently asked questions at Tectxon. We are constantly adding most asked question to this page so if you have a question and don’t see your answer, don’t hesitate to email us at info@example.com</p>
                            </div>
                            <div class="info-detail">
                                <div class="accrodion-grp" data-grp-name="faq-accrodion">
                                    <div class="accrodion active">
                                        <div class="accrodion-title">
                                            <h4>How can I improve my oral hygiene?</h4>
                                        </div>
                                        <div class="accrodion-content" style="display: block;">
                                            <div class="inner">
                                                <p>Everyone’s needs are different, so have a chat to your dentist about how often you need to have your teeth checked by them based on the condition of your mouth, teeth and gums.</p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                    <div class="accrodion ">
                                        <div class="accrodion-title">
                                            <h4>How do I know if my teeth are healthy?</h4>
                                        </div>
                                        <div class="accrodion-content" style="display: none;">
                                            <div class="inner">
                                                <p>Everyone’s needs are different, so have a chat to your dentist about how often you need to have your teeth checked by them based on the condition of your mouth, teeth and gums.</p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                    <div class="accrodion">
                                        <div class="accrodion-title">
                                            <h4>Why are regular dental assessments so important?</h4>
                                        </div>
                                        <div class="accrodion-content" style="display: none;">
                                            <div class="inner">
                                                <p>Everyone’s needs are different, so have a chat to your dentist about how often you need to have your teeth checked by them based on the condition of your mouth, teeth and gums.</p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                    <div class="accrodion">
                                        <div class="accrodion-title">
                                            <h4>What if I have to cancel my appointment?</h4>
                                        </div>
                                        <div class="accrodion-content" style="display: none;">
                                            <div class="inner">
                                                <p>Sometimes the unexpected happens and you need to cancel your appointment make sure you call us or email us 1 day ago before cancellation.</p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                    <div class="accrodion">
                                        <div class="accrodion-title">
                                            <h4>What do I need to bring to my appointment?</h4>
                                        </div>
                                        <div class="accrodion-content" style="display: none;">
                                            <div class="inner">
                                                <p>Sometimes the unexpected happens and you need to cancel your appointment make sure you call us or email us 1 day ago before cancellation.</p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                    <div class="accrodion">
                                        <div class="accrodion-title">
                                            <h4>What are the facilities available in the hospital?</h4>
                                        </div>
                                        <div class="accrodion-content" style="display: none;">
                                            <div class="inner">
                                                <p>Sometimes the unexpected happens and you need to cancel your appointment make sure you call us or email us 1 day ago before cancellation.</p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                    <div class="accrodion">
                                        <div class="accrodion-title">
                                            <h4>Do you have an ambulance service?</h4>
                                        </div>
                                        <div class="accrodion-content" style="display: none;">
                                            <div class="inner">
                                                <p>Sometimes the unexpected happens and you need to cancel your appointment make sure you call us or email us 1 day ago before cancellation.</p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- SSS -->
                </div>

                <!-- Sözleşmeler -->
                <div id="tabid4" style="display:none;">
                    @Html.Partial("~/Views/Saglikcim/Partials/_PrivatePolicy.cshtml")
                </div>

                <!-- İletişim -->
                <div id="tabid5" style="display:none">
                    <section class="contact pad-bottom-0">

                        <div class="container">
                            <!-- Contact Us Map -->
                            <!-- Map Ends -->

                            <div class="contact-inner">
                                <div class="row">
                                    <div class="col-md-5 col-sm-12 col-xs-12">
                                        <div class="contact-detail">
                                            <h2 class="white">Uzaktan Sağlık Desteği İle<br /> Alanında Tek </h2>
                                            <div class="contact-list">
                                                @*<p class="contact mar-bottom-10 white"><i class="fa fa-phone" aria-hidden="true"></i>+90 (212) 706 06 73</p>*@
                                                <p class="contact mar-bottom-10 white"><i class="fa fa-envelope" aria-hidden="true"></i> info@doctorla.co</p>
                                                <p class="contact white"><i class="fa fa-map-marker" aria-hidden="true"></i> Sultan Selim Mah. Eski Büyükdere Cad. No: 61 Levent / İstanbul</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d770809.0860158126!2d28.45174621544522!3d41.003964328513874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa7040068086b%3A0xe1ccfe98bc01b0d0!2zxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1587677910911!5m2!1str!2str" width="600" height="800px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>


                <!-- mesafeli satis sozlesmesi -->
                <div id="tabid6" style="display:none">
                    <section class="contact pad-bottom-0">

                        @Html.Partial("~/Views/Saglikcim/Partials/_DistanceSalesContract.cshtml")
                    </section>
                </div>

            </div>
            <div class="col-md-4">
                <div class="detail-sidebar">
                    <div class="sidebar-box">
                        <div class="sidebar-title">
                            <h3>Doctorla</h3>
                        </div>
                        <div class="sidebar-content">
                            <ul>
                                <li class="active" id="tabli1"><a onclick="tab(1)">Biz Kimiz?</a></li>
                                <li id="tabli2"><a onclick="tab(2)">Nasıl Çalışır</a></li>
                                @*<li id="tabli3"><a onclick="tab(3)">S.S.S</a></li>*@
                                <li id="tabli4"><a onclick="tab(4)">Sözleşmeler</a></li>
                                <li id="tabli6"><a onclick="tab(6)">Mesafeli Satış Sözleşmesi</a></li>
                                <li id="tabli5"><a onclick="tab(5)">İletişim</a></li>
                            </ul>
                        </div>
                    </div>
                    
                  
                </div>
            </div>
        </div>
    </div>
</section>






<script type="text/javascript">
    var lasttabid = 1;

    function tab(tabid) {
        document.getElementById("tabid" + lasttabid).style.display = "none";
        document.getElementById("tabli" + lasttabid).classList.remove("active");
        document.getElementById("tabid" + tabid).style.display = "";
        document.getElementById("tabli" + tabid).classList.add("active");
        lasttabid = tabid;
    }
</script>