@{
    ViewData["Title"] = "Ödeme Başarısız ";
}
<section class="odeme-hatali">
    <div class="container">
        <div class="row">
            <div class="col-12 odeme-hatali-icerik">
                <div class="odeme-hatali-icon">
                    <i class="far fa-times-circle"></i>
                </div>
                <div class="odeme-hatali-metin">
                    <h2>MAALESEF BİR HATA İLE KARŞILAŞTIK</h2>
                    <p>
                        Doctorla olarak ilginiz için teşekkür ederiz ancak işlem sırasında bir hata ile karşılaştık. Lütfen tekrar dener misiniz?
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>