@{
    ViewData["Title"] = "Şifre Güncelleme";

}
@section css{
    <link href="~/css/dashboard.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/dropzone.min.css" rel="stylesheet" />
    <style>
        .my-profile h2 {
            font-size: 1.3rem;
        }

        input[type=text], input[type=email], input[type=number], input[type=search], input[type=password], input[type=tel], input[type=date], textarea, select {
            font-size: 14px;
            font-weight: 300;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(241,241,241);
            border-radius: 0;
            padding: 10px 15px;
            width: 100%;
            color: rgb(68, 68,68);
            margin-bottom: 15px;
            font-family: 'Poppins',sans-serif;
            height: 42px;
            box-shadow: none;
            margin-bottom: 0;
        }

        .edit-profile-photo {
            margin-bottom: 0px;
        }
    </style>
}

<section class="service-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div id="tabid2">
                    <div class="dashboard-form validationCheck profil">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="dashboard-list-box">
                                    <h4 class="gray">Şifre Güncelleme</h4>
                                    <div class="row">
                                        <div class="form-group col-xs-12 col-md-6">
                                            <label>Eski Şifreniz</label>
                                            <input type="password" name="oldpass" id="oldpass" placeholder="Eski Şifrenizi Girin" />
                                            <i class="fas fa-exclamation-circle"></i>
                                        </div>
                                        <div class="form-group col-xs-12 col-md-6">
                                            <label>Yeni Şifreniz </label>
                                            <input type="password" name="newpass" id="newpass" placeholder="Yeni Şifrenizi Girin" />

                                            <i class="fas fa-exclamation-circle"></i>

                                        </div>
                                        <div class="form-group col-xs-12 col-md-6">
                                            <label>Şifrenizi Onaylayın </label>
                                            <input type="password" name="newpass2" id="newpass2" placeholder="Yeni Şifrenizi Girin" />
                                            <i class="fas fa-exclamation-circle"></i>
                                        </div>
                                        <div class="form-group col-xs-12 profilBtn">
                                            <button type="button" id="sifreDegistir" class="btn form-control" onclick="changePassword()">Şifremi Güncelle</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/_UserMenu.cshtml", new Data.Domain.User { SurName = ViewBag.Name, AccountBalance = ViewBag.AccountBalance }, ViewData)
        </div>
    </div>
</section>

@section script{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://unpkg.com/imask"></script>
    <script>
        $(".sidebar-content a").each(function () {
            if (this.href == window.location.href) {
                $(this).parent().addClass("active");
            }
        });
        function changePassword() {

            const oldpass = document.getElementById('oldpass');
            const newpass = document.getElementById('newpass');
            const newpass2 = document.getElementById('newpass2');
            checkpassword = true;


            if (oldpass.value === '') {
                setErrorFor(oldpass, 'Bu Alan Boş Bırakılamaz!');
            } else {
                setSuccessFor(oldpass);
            }

            if (newpass.value === '') {
                setErrorFor(newpass, 'Bu Alan Boş Bırakılamaz!');
            } else if (newpass.value.length < 8) {
                setErrorFor(newpass, 'Şifreniz en az 8 karakter olmalıdır!');
            } else {
                setSuccessFor(newpass);
            }

            if (newpass2.value === '') {
                setErrorFor(newpass2, 'Bu Alan Boş Bırakılamaz!');
            } else if (newpass2.value != newpass.value) {
                setErrorFor(newpass2, 'Şifreler Uyuşmuyor!');
            } else {
                setSuccessFor(newpass2);
            }

            if (checkpassword == true) {
                console.log("degiisss");

                $.ajax({
                    url: '/saglikcim/ChangePassword',
                    data: { Oldpass: oldpass.value, Newpass: newpass.value },
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        if (data.status == 2) {
                            window.location.href = "/Doctorla/Giris";
                        } else if (data.status == -1) {
                            setErrorFor(oldpass, data.message);
                        } else if (data.status == 3) {
                            setErrorFor(newpass, data.message);

                        }
                        else {
                            toastr.success('Şifreniz Başarıyla Güncellendi!', 'Başarılı!');
                            setTimeout(function () { window.location.href = "/Doctorla/Profilim"; }, 3000)
                        }
                    },
                    error: function (data) {
                        $.ajax({
                            url: '/saglikcim/ErrorLogs',
                            data: { page: "Saglikcim  - ChangePassword" },
                            type: 'post',
                            dataType: 'json',
                            success: function (data) {

                            },
                            error: function (data) {

                            }
                        });
                    }
                });
            } else {
                const smalls = document.querySelectorAll("small");
                console.log(smalls);
                const firstsmall = smalls[0];
                console.log(firstsmall);
                const firstplus = firstsmall.parentElement;
                firstplus.scrollIntoView({ behavior: 'smooth', block: 'center' });
            }
        }
        function setErrorFor(input, message) {
            const formControl = input.parentElement;
            if (formControl.lastElementChild.id == "small") {
                formControl.removeChild(formControl.lastElementChild);

            }
            const small = document.createElement("small");
            formControl.appendChild(small);
            formControl.classList.add("error");
            small.setAttribute("id", "small");
            small.innerText = message;
            checkprofil = false;
            checkpassword = false;
            checkprice = true;
        }

        function setSuccessFor(input) {
            const formControl = input.parentElement;
            formControl.classList.remove("error");
            if (formControl.lastElementChild.id == "small") {
                formControl.removeChild(formControl.lastElementChild);
            }
        }
    </script>
}
