
@{
    ViewData["Title"] = "Doctorla Gizlilik Sözleşmesi";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="service-detail" style="padding-left: 50px;padding-right: 50px;">
    <div class="container">
        <div class="row">
            @Html.Partial("~/Views/Saglikcim/Partials/_PrivatePolicy.cshtml")
        </div>
    </div>
</section>