<section class="about-us icon-right">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="section-title">
                    @* <h3>Biz Kimiz?</h3> *@
                    <h1>TOPLUM SAĞLIĞI İÇİN TOPLU FAYDA DOCTORLA’ DA</h1>
                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="about-content">
                    <div class="content-box">
                        <div class="about-item">
                            <div class="about-icon about-bir" >
                                <i class="flaticon-united"></i>
                            </div>
                            <div class="about-desc">
                                <h3>TOPLUMSAL FAYDA</h3>
                                <p>Sağlık hizmetimizin yanında ihtiyacı olan insanlara, sokak hayvanlarına ve COVID-19 için çalışan sağlık personellerine destek olabilirsiniz.</p>
                            </div>
                        </div>
                        <div class="about-item">
                            <div class="about-icon about-iki child-2">
                                <i class="flaticon-stay-home"></i>
                            </div>
                            <div class="about-desc">
                                <h3>COVID-19 </h3>
                                <p>Korona takip hizmetimizle 14 gün boyunca sağlık durumunuzu takip ediyor ve sonucunda detaylı sağlık karnesi sunuyoruz.</p>
                            </div>
                        </div>
                        <div class="about-item">
                            <div class="about-icon about-uc child-3" >
                                <i class="flaticon-null"></i>
                            </div>
                            <div class="about-desc">
                                <h3>KUSURSUZ HİZMET</h3>
                                <p>Hasta takip sistemimiz ile siz sevgili hastalarımızın hak ettikleri ilgiyi gösteriyor ve günlük olarak sağlık durumlarını gözlemliyoruz.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="about-us-image">
                    <img src="~/images/home/home2.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>