<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <h3>BLOĞUMUZ</h3>
                    <h2>GÜNCEL <span>MAKALELER</span> VE <span>HABERLER</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="news-item">
                    <div class="news-image">
                        <img src="~/images/home/blog1.jpg" alt="Image">
                        <div class="news-date">
                            <p class="white"><span>15</span> Nov</p>
                        </div>
                    </div>
                    <div class="news-content pad-top-20">
                        <div class="news-author mar-bottom-10">
                            <a href="#" class="link text-uppercase">Dental,</a>
                            <a href="#" class="link text-uppercase">Medicine</a>
                        </div>
                        <h3><a href="#">Should i go for a smile design?</a></h3>
                        <div class="news-author mar-bottom-15 meta-post">
                            <a href="#" class="link"><i class="fa fa-comment"></i> 3 Comments, </a>
                            <a href="#" class="link"><i class="fa fa-user"></i> User</a>
                        </div>
                        <p>No one rejects, dislikes our avoids pleasures itself, because it is all pleasure.</p>
                        <a href="blogdetail.html" class="mar-top-15 link">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="news-item">
                    <div class="news-image">
                        <img src="~/images/home/blog2.jpg" alt="Image">
                        <div class="news-date">
                            <p class="white"><span>15</span> Nov</p>
                        </div>
                    </div>
                    <div class="news-content pad-top-20">
                        <div class="news-author mar-bottom-10">
                            <a href="#" class="link text-uppercase">Dental,</a>
                            <a href="#" class="link text-uppercase">Medicine</a>
                        </div>
                        <h3><a href="#">How much aspirin to take for stroke</a></h3>
                        <div class="news-author mar-bottom-15 meta-post">
                            <a href="#" class="link"><i class="fa fa-comment"></i> 3 Comments, </a>
                            <a href="#" class="link"><i class="fa fa-user"></i> User</a>
                        </div>
                        <p>No one rejects, dislikes our avoids pleasures itself, because it is all pleasure.</p>
                        <a href="blogdetail.html" class="mar-top-15 link">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="news-item">
                    <div class="news-image">
                        <img src="~/images/home/blog3.jpg" alt="Image">
                        <div class="news-date">
                            <p class="white"><span>15</span> Nov</p>
                        </div>
                    </div>
                    <div class="news-content pad-top-20">
                        <div class="news-author mar-bottom-10">
                            <a href="#" class="link text-uppercase">Dental,</a>
                            <a href="#" class="link text-uppercase">Medicine</a>
                        </div>
                        <h3><a href="#">5 Benefits Of Integrative Medicine</a></h3>

                        <div class="news-author mar-bottom-15 meta-post">
                            <a href="#" class="link"><i class="fa fa-comment"></i> 3 Comments, </a>
                            <a href="#" class="link"><i class="fa fa-user"></i> User</a>
                        </div>
                        <p>No one rejects, dislikes our avoids pleasures itself, because it is all pleasure.</p>
                        <a href="blogdetail.html" class="mar-top-15 link">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>