<section class="services pad-top-0 icon-left">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <h3>ÇOK YAKINDA</h3>
                    <h2>ÖZEL SAĞLIK HİZMETLERİ</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-item">
                    <a href="/Doctorla/Doktorlarimiz/Psikoterapi" target="_blank">
                        <div class="service-icon mar-bottom-20">
                            <i class="flaticon-mental-health"></i>
                        </div>
                        <div class="service-content">
                            <h3>
                                PSİKOLOJİ
                            </h3>
                            <p>Etkili seanslarımızla tüm sorun ve şikâyetlerinizi Psikolojik Danışmanlarımıza anlatarak çözüm odaklı bir tedavi sunuyoruz.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-item">
                    <a href="Doctorla/Doktorlarimiz/BeslenmeveDiyet" target="_blank">
                        <div class="service-icon mar-bottom-20 child-2">
                            <i class="flaticon-nutrition"></i>
                        </div>
                        <div class="service-content">
                            <h3>
                                BESLENME VE DİYETETİK
                            </h3>
                            <p>  Bağışıklık sistemini güçlendirme, kilo alma, kilo verme ve daha fazlası için geniş ve tecrübeli diyetisyen kadromuz ile hizmetinizdeyiz.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-item">
                    <a href="/Doctorla/Doktorlarimiz/ÇocukSağlığıveHastalıkları" target="_blank">
                        <div class="service-icon mar-bottom-20 child-3">
                            <i class="flaticon-cough"></i>
                        </div>
                        <div class="service-content">
                            <h3>
                                ÇOCUK HASTALIKLARI
                            </h3>
                            <p>Çocuğunuzun sağlığı her şeyden önemli. Anında iletişim kurabileceğiniz Doktorlarımız ile hizmetinizdeyiz.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-item">
                    <a href="/Doctorla/Doktorlarimiz/İçHastalıkları" target="_blank">
                        <div class="service-icon mar-bottom-20 child-2">
                            <i class="flaticon-diabetes"></i>
                        </div>
                        <div class="service-content">
                            <h3>
                                DİYABET
                            </h3>
                            <p>Günlük takip ve analizlerle diyabetinizi kontrol ederek yaşam kalitenizi yükseltiyoruz.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-item">
                    <a href="/Doctorla/Doktorlarimiz/DoğumKoçu" target="_blank">
                        <div class="service-icon mar-bottom-20 child-3">
                            <i class="flaticon-pregnant"></i>
                        </div>
                        <div class="service-content">
                            <h3>
                                HAMİLELİK TAKİBİ
                            </h3>
                            <p>Düzenli takip ve hamilelik dönemi boyunca oluşabilecek sorunları doktorlarımızla kontrol altına alıyoruz</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-item">
                    <a href="/Doctorla/Doktorlarimiz/FizikTedaviveRehabilitasyon" target="_blank">
                        <div class="service-icon mar-bottom-20">
                            <i class="flaticon-physiotherapy"></i>
                        </div>
                        <div class="service-content">
                            <h3>
                                FİZİK TEDAVİ
                            </h3>
                            <p>Evinizin rahatlığında, fizik tedavi uzmanı eşliğinde hareket kabiliyetinizi arttırıyoruz</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>