<section class="newsletter">
    <div class="container">
        <div class="newsletter-content">
            <div class="subscribe-form">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h3 class="white">Yeniliklerden Haberdar Ol</h3>
                        <p class="white"> Uzman doktorlar tarafından yazılan makale ve Sağlık alanındaki haberlerden anında haberdar ol.</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <form>
                            <input type="email" placeholder="abc@xyz.com">
                            <a href="#">Abone ol</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>