<p>
    <b>   Üye Şartları ve Koşulları</b>

</p>
<br />
<p>
    <b> İşbu sözleşmede;</b>
    Üye kullanım koşul ve şartları kısaca “Sözleşme” olarak anılacaktır.
    Doctorla Hizmet Platformu Doctorla tarafından sağlanacak olup kısaca “ Şirket”,
    Doctorla Hizmet Platformu, çevrimiçi öneri, hizmet ve danışman tavsiyeleri veren servis (web sitesi ve uygulaması) kısaca “Doctorla Platformu” veya “Doctorla”,
    Platforma erişen ve/veya kullanan tüm kullanıcılar kısaca “Siz” veya “Üye”,
    Doctorla Platformu üzerinden danışmanlık hizmeti veren üyeler ise kısaca “Danışman” olarak anılacaktır.
</p>
<br />

<p>
    <b>      Doctorla Nedir?</b>

</p>
<br />
<p>

    Doctorla tarafından sağlanan Doctorla Hizmet Platformu, üyelerin bir danışmana soru sormalarını, doğrudan tavsiye ve/veya hizmet talep etmelerini sağlamaktadır. Hizmet, bir üyenin danışmana doğrudan sesli, canlı görüntülü veya freelancer olarak iletişim kurmasını ve bu danışmandan satın aldığı hizmetler karşılığı ödeme yapmasını kapsar.
</p>
<br />
<p>
    <b>        Feragatname</b>

</p>
<br />
<p>
    Üye, bir Danışman'ın kimliğini, niteliklerini, kimlik bilgilerini, biyografik bilgilerini, paylaştığı ve/veya Doctorla Platformuna eklediği lisansları ve diğer bilgileri doğrulamaktan yalnızca kendi sorumlu olduğunu kabul eder. Söz konu bilgilerin doğruluğunun kontrolünden yalnızca Üye sorumlu olup, Üye bilgilerin eksik veya yanlış olması nedeniyle doğabilecek zararlardan dolayı “Şirket” i sorumlu tutmayacağını kabul, beyan ve taahhüt eder.

</p>
<br />
<p>

    Üye, Doctorla Platformu üzerinde hizmet veren Danışmanların; Doctorla'nin temsilcisi ve/veya çalışanı olmadığını kabul ve beyan eder.
    Üye, Danışmanın herhangi bir eylemi ve/veya ihmalinden dolayı Doctorla Platformunu sorumlu tutmayacağını kabul, beyan ve taahhüt eder.
</p>
<br />
<p>

    Danışmanlar, Doctorla Platformu'nun ve/veya bağlı kuruluşlarının çalışanları, temsilcileri değildir. Tüm Danışmanlar, Doctorla Platformu'nun bağımsız yüklenicileridir ve bağımsız yükleniciler olmalarından dolayı, Doctorla Platformu; bir Danışman tarafından sağlanan herhangi bir tavsiyenin kalitesini, uygunluğunu veya doğruluğunu kontrol etmez ve herhangi bir Danışmanın özel bir tavsiyede bulunup bulunmayacağını belirleyemez.
</p>
<br />
<p>
    Doctorla Platformu, Danışman’ın hizmet verdiği alanlar hakkında, en uygun kategorilerin oluşturulmasını sağlayarak, Üye’ye kullanım kolaylığı sağlayacaktır.

</p>
<br />
<p>
    BİR DANIŞMAN TARAFINDAN SAĞLANAN HERHANGİ BİR GÖRÜŞ, ÖNERİ, TAHMİN, BİLGİ VE/VEYA DİĞER HİZMETLER SADECE TAVSİYE AMACI İÇERMEKTE OLUP, BU BİLGİLERİN KULLANILMASI NEDENİYLE DOĞABİLECEK ZARARLARDAN DOLAYI ÜYE VE DANIŞMAN Doctorla PLATFORMUNUN SAĞLAYICISI OLAN DoctorlaİN HİÇBİR YASAL SORUMLULUĞU OLMADIĞINI KABUL, BEYAN VE TAHHÜT EDERLER.
    Üye, hizmet alınacak kategori gereği Danışmanların lisans ve/veya sertifikasyon gerektiren alanlardaki tavsiyeleri ya da bilgileri sadece bilgilendirme amacı taşıdığını, yüz yüze yapılan bir fiziksel muayenenin yerine geçmeyeceğini kabul ve beyan eder.
    Üye, bir Danışman tarafından sağlanan tavsiyelere dayanarak sağlık, yasal, finansal ve/veya diğer kararları alması veya uygulaması nedeniyle doğacak zararlardan “Şirket” in sorumlu olmadığını kabul ve beyan eder. Bununla birlikte Doctorla, özellikle tıbbi veya zihinsel sağlık hizmeti almak isteyen bir Üyenin şahsen bir Danışman tarafından karşılıklı görüşme ve fiziksel muayene ile hizmet almasını şiddetle tavsiye eder.

</p>
<br />
<p>
    <b>           Koşulların Kabulü</b>

</p>
<br />
<p>
    Üye, Doctorla Platformuna erişerek ve/veya kullanarak, aşağıda belirtilen hüküm ve koşulları kabul, beyan ve taahhüt etmiş olur.

</p>
<br />
<p>
    • Üye, en az 18 yaşında olduğunu ve bu yaşın altında ise Doctorla Platformuna kayıt yaptıramayacağını ve kullanamayacağını kabul ve beyan eder. Doctorla Platformu, herhangi bir üye hesabını derhal feshetme ve üyenin 18 yaşın altında olduğuna kanaat getirmesi halinde ise bilgilerini silme hakkını saklı tutar.

</p>
<br />
<p>
    • Üye, kayıt formunda belirtmiş olduğu bilgilerin doğru ve eksiksiz olduğunu ve işbu sözleşme süresi boyunca bilgilerinde herhangi bir değişiklik olması halinde derhal güncelleyeceğini kabul ve beyan eder.

</p>
<br />
<p>

    • Üye, Doctorla Platformunda yer alan derecelendirme sisteminin bütünlüğünü zayıflatmamayı, bozmamayı kabul ve beyan eder. Doctorla Platformu, bildirimde bulunmaksızın, eski derecelendirmeleri kaldırma ve/veya kendi takdirine göre Doctorla Platformu'nun, Üye geri bildirim derecelendirme sisteminin bütünlüğünü tehlikeye attığına inandığı derecelendirmeleri hariç tutabilme hakkına sahiptir.
</p>
<br />
<p>
    • Üye, Doctorla Platformu ile bağlantılı olarak herhangi bir Doctorla sunucusuna, ağına veya ekipmanına müdahale etmemeyi ve/veya kesintiye uğratmamayı kabul ve beyan eder.

</p>
<br />
<p>
    • Üye, Doctorla Platformuna bağlı herhangi bir bilgisayar sistemine ve/veya ağına yetkisiz erişim elde etme girişiminde bulunmamayı kabul ve beyan eder.

</p>
<br />
<p>
    • Üye, Doctorla Platformunda (a) herhangi istenmeyen posta, spam veya bülten panosu gönderileri; (b) herhangi hukuka aykırı, taciz edici, hakaret, küfürlü, tehdit edici, iftira niteliğinde, kaba, müstehcen, ırkçı, zararlı veya herhangi bir şekilde sakıncalı materyal; (c) fikri mülkiyet hakları ve/veya gizlilik hakları dahil ancak bunlarla sınırlı olmamak üzere üçüncü taraf haklarını ihlal eden herhangi bilgi veya materyal; (d) herhangi yazılım virüsü, truva atı, solucan ve/veya başka kötü amaçlı uygulama veya kod; (e) bir suç teşkil eden, medeni bir yanlış ve/veya herhangi bir geçerli yasayı ihlal eden davranış oluşturan, teşvik eden bilgi ve materyal iletmemeyi, yüklememeyi, e-posta ile postalamamayı ve/veya başka bir şekilde kullanıma sunmamayı kabul ve beyan eder.

</p>
<br />
<p>
    • Üye, Doctorla Platformu üzerinden verilen hizmetler kapsamında ilgili tüm yasalara, kurallara, yönetmeliklere ve etik kurallara uyacağını kabul, beyan ve taahhüt eder.

</p>
<br />
<p>
    • Doctorla Platformu, Üyeler ve Danışmanlar arasında dosya transferini sağlar. Üye, dosya eki açılırken, dosyaların, anti-virüs yazılımı uygulamasıyla taranması ve kontrolünün sağlanmasından kendi sorumlu olduğunu kabul ve beyan eder.

</p>
<br />
<p>
    • Üye, herhangi bir kişi ve/veya tüzel kişiliğe bürünmeyeceğini, herhangi bir kişi ve/veya kuruluşla ilgili yanlış beyanda bulunmayacağını kabul ve beyan eder.

</p>
<br />
<p>
    • Üye, bir Danışman ve/veya Üyeyi izlemeyeceğini, tehdit ve/veya taciz etmeyeceğini, gizlilik kurallarını, ihlal etmeyeceğini ve tüm davranışlarının ilgili yasalara uygun olacağını kabul ve beyan eder.

</p>
<br />
<p>
    • Üye, Doctorla Platformu tarafından kişisel profilinin incelenebileceğini kabul ve beyan eder. Ayrıca Üye, Doctorla Platformunun Üyenin kişisel profilinde bulunan yazım ve/veya imla hatalarını düzeltebileceğini kabul ve beyan eder.

</p>
<br />
<p>
    • Üye, Doctorla Platformunun, kendi takdirine bağlı olarak, profilinde yer alan yazılı ve görsel içeriklerin bir kısmının ve/veya tamamının, (i) yayınlanmasını ve/veya iletilmesini reddetme, (ii) yüklenen içeriklerin kaldırılabilmesi hakkına sahip olduğunu kabul ve beyan eder.

</p>
<br />
<p>
    <b>Hizmetlerin Değiştirilmesi ve Sonlandırılması</b>

</p>
<br />
<p>
    Doctorla Platformu, Üye veya herhangi bir üçüncü tarafa karşı yükümlülüğü olmaksızın, ve Üye ye önceden bildirimde bulunma zorunluluğu olmaksızın, Doctorla Platformunun herhangi bir hizmet bölümünü geçici ve/veya kalıcı olarak değiştirebilir veya kaldırabilir. Doctorla Platformu, tamamen kendi takdirine bağlı olarak, Üyenin Doctorla Platformuna katılımını sona erdirebilme ve Doctorla Platformunun Üye tarafından mevcut veya gelecekte kullanılmasını engelleme hakkına sahiptir. İşbu maddede belirtilen hükümlerin uygulanması nedeniyle Üye, “Şirket” e karşı herhangi bir talepte bulunamayacağını kabul ve beyan eder.

</p>
<br />
<p>
    <b>  Ücretler ve Ödemeler</b>

</p>
<br />

<p>
    Üye ve Danışman arasındaki tüm iletişimler, çevrimiçi veya çevrimdışı olup olmadığına bakılmaksızın Doctorla Platformunda faturalandırılacaktır. Üye, Doctorla Platformu'nu kullanırken bir Danışman ile kararlaştırılan fiyatlandırma şartlarına uymayı ve Danışmanlar tarafından kendilerine verilen hizmet kapsamındaki tüm ücretleri Doctorla' a ödemeyi kabul, beyan ve taahhüt eder.

</p>
<br />
<p>
    Üye, Doctorla, üzerinden kredi kartı, banka kartı ve/veya PayPal hesabını kullanarak ödeme gerçekleştirebilecektir. Üye, hesabının altında gerçekleşen her işlem için tüm ücretlerin ödemelerini açıkça yetkilendirdiğini kabul ve beyan eder. Üye, Doctorla Platformunda gösterilen tüm tutarların bulunduğu ülkenin ve/veya bölgenin para birimi cinsinden olduğunu ve bulunduğu ülkenin ve/veya bölgenin para birimi üzerinden ücretlendirileceğini kabul ve beyan eder. Üye, kullandığı tüm ödeme araçlarındaki bilgilerinin doğru, güncel olduğunu ve kullanmaya tam yetkili olduğunu kabul ve beyan eder. Üye, hesabının veya ödeme yönteminin telefon veya e-posta yoluyla doğrulanmasına işbu sözleşme ile onay vereceğini kabul ve beyan eder. Masrafların hizmetlerin sunulması ve/veya Danışman'ın sona erdiği bir oturumdan hemen sonra gerçekleşen mevcut bakiyeden düşüleceğini kabul eder.
    12 aydan daha uzun bir süredir işlemlere eklenmemiş veya kullanılmamış hesap bakiyeleri için Doctorla, her ay 5,00 $ (“Bakım Ücreti”) tutarında bir idari ücret talep etme hakkını saklı tutar.
    Üye, Doctorla'in, üye tarafından ödenen ücretleri tahsil etmesi için harcadığı masrafları Doctorla’e geri ödemeyi kabul eder. Doctorla, aylık% 2'lik veya kanunun izin verdiği en yüksek tutarı (eğer daha düşükse) geçmiş faiz miktarlarını değiştirme hakkını saklı tutar. Bir ödeme yöntemi geçersizse ve bir Üyenin vadesi geçmiş tutarları varsa, Doctorla bu tutarlar eksiksiz olarak ödeninceye kadar Üyenin hesabına ilişkin tüm ödeme yöntemlerini herhangi bir vergi ve/veya gecikme ücreti dahil olmak üzere ödeme tutarı için ücretlendirme hakkını saklı tutar.

</p>
<br />
<p>
    Doctorla, tamamen kendi takdirine bağlı olarak, bir Üyenin belirli durumlarda yaptığı bir ödemeyi geri ödemeyi tercih edebilir. Geri ödeme işlemi https://support.Doctorla.com adresinde açıklanmış olup, Doctorla, yedi (7) iş günü içinde ödeme işlemlerini gerçekleştirebilmek için tüm çabayı göstereceğini kabul eder. Bununla birlikte üye, kredi kartı ve banka kartı ödeme süreçlerinden dolayı gecikmeler yaşanabileceğini kabul ve beyan eder. Bir kaç günlük süre zarfında meydana gelen ücretler konsolide edilebilir ve tek bir ödeme olarak yapılabilir. Üye, Kredi kartı ücretinin reddedilmesi halinde, Doctorlain, aşağıdaki 60-90 gün boyunca dosyada bulunan tüm kartlardan (tek bir ücretle veya tam tutarı tahsil edemediğinde kısmi olarak) ücret tahsil edebileceğini kabul ve beyan eder.

</p>
<br />
<p>
    <b> Üye;</b>
    Ücretlerin, Doctorla'in sunucularında ölçülen bir dakikalık artışlara ve/veya Üye tarafından istenilen hizmete ait Danışman ile belirlenmiş hizmet tutarına dayanacağını,
    Kısmi bir dakikanın tamamının bir dakikaya yuvarlanacağını,
    Doctorla’in iş başına (danışman ve kullanıcı arasında mesajlaşarak) hesaplamalar yapmak suretiyle veri tabanlarına giriş yapacağını,
    Doctorla'ın faturalama sisteminde hatalar olabileceğini, bu nedenle, ödemelerin işlenmesinde herhangi bir sorun, yanlış hesap ve/veya aksaklıkların olması halinde, “Şirket” in sorumlu tutulamayacağını,
    Hata olduğu düşünüldüğünde ise derhal Doctorla ile iletişime geçerek konu hakkında bilgilendirme de bulunacağını,
    Bilgilendirmede bulunulmaması halinde doğabilecek hiçbir zarardan “Şirket” in sorumlu tutulamayacağını,
    Kabul, beyan ve taahhüt eder.

</p>
<br />
<p>

    <b>Gizlilik</b>
</p>
<br />
<p>
    Üye, şifresinin, kullanıcı adının ve/veya hesabıyla ilgili diğer güvenlik bilgilerinin gizliliğini korumakla yükümlü olduğunu, Hesabının altında gerçekleşen tüm faaliyetlerden de tamamen kendi sorumlu olduğunu kabul ve beyan eder.

</p>
<br />
<p>
    <b> Gizlilik Politikası</b>

</p>
<br />
<p>
    Üye, Doctorla Platformuna erişerek ve/veya kullanarak, <a href="https://Doctorla.co/Gizlilik" target="_blank"> www.Doctorla.com/gizlilik</a> adresindeki Doctorla'in Gizlilik Politikası koşullarını kabul etmiş olduğunu kabul, beyan ve taahhüt eder.
</p>
<br />
<p>

    Bu kapsamda,,
    Doctorla, kişisel bilgiler, transkriptler, anketler ve/veya kayıtlar dahil olmak üzere ve bunlarla sınırlı olmamak kaydıyla Üye bilgilerini kullanabilmeye yetkilidir. Doctorla, bu bilgileri (i) yasal bir sürece (mahkeme emri, mahkeme celbi, arama gibi) herhangi bir resmi makamın ya da diğer yasal zorunluluklara uymak için makul bir şekilde gerekli olduğuna inanıyorsa, (ii) Doctorla’ın gerçek veya potansiyel bir davadaki yükümlülüğünü azaltacak ve/veya ortadan kaldıracaksa, (iii) Doctorla’ın haklarını, mallarını ve/veya herhangi bir kişinin, varlığın haklarını ve/veya mülkiyetini korumak için gerekli gerekli durumlarda, (iv) yasadışı davranışları (sahtecilik, dolandırıcılık, hırsızlık vb… olmamak üzere) engellemek, (v) resmi makamlar tarafından talep edilmesi halinde kullanabilecektir.
    Üye bu bilgilerin yukarıda sayılan haller kapsamında kullanılabileceğini kabul, beyan ve taahhüt eder. Ayrıca, bu kapsamda da Doctorla’e herhangi bir talepte bulunamayacağını kabul, beyan ve taahhüt eder.
</p>
<br />
<p>
    Üye, Doctorla’i kullanmakla, Doctorla Platformunda, dünya çapında yayınladığınız herhangi bir bilgiyi ve/veya içeriği temel alarak, kamuya açık bir şekilde oluşturmayı, çoğaltmayı, düzenlemeyi, kopyalamayı, iletmeyi, dağıtmayı, kamuya açık olarak göstermeyi, türev eserler oluşturmayı, sınırsız, geri alınamaz bir şekilde, telifsiz olarak Doctorla’a lisans verdiğini kabul, beyan ve taahhüt etmiş olur.

</p>
<br />
<p>
    Üçüncü Taraf Web Siteleri
    Doctorla Platformu tamamı ve/veya bir kısmı, üçüncü taraf web siteleri aracılığıyla da kullanılabilir. Üye, Doctorla Platformunun tamamı ve/veya bir kısmına üçüncü taraf bir web sitesi üzerinden erişilmesi halinde, üçüncü taraflarca uygulanan şart ve koşullara da uyacağını kabul ve beyan eder. Bu tür üçüncü tarafların herhangi bir şartı, durumu, politikası, eylemi veya ihmalinden dolayı sorumluluk Üyeye ait olacak olup, “Şirket” e herhangi bir sorumluluk yüklenemeyecektir.

</p>
<br />
<p>

    Feragatler
    Şirket’in Danışmanın nitelikleri, uzmanlığı, danışmanlık verdiği alanları inceleme, onaylama, tavsiye etme, doğrulama, değerlendirme, garantileme ve/veya garanti etme zorunluluğu bulunmamaktadır.Şirket, Danışman tarafından sağlanan fikir, tavsiye, öneri, bilgi ve/veya hizmetten sorumlu değildir.
</p>
<br />
<p>
    Şirket (1) Danışman tarafından sağlanan hizmet, bilgi ve tavsiyelerin doğruluğu ve/veya kullanılabilirliği, (2) Doctorla Platformundan kaynaklanan ve/veya bunlarla ilgili herhangi bir zarar, maddi kayıp, yaralanma ve/veya herhangi bir Danışman tarafından sağlanan ve/veya verilmeyen tavsiye, öneri, bilgi ve/veya diğer hizmetler (3)Doctorla Platformu hizmet ve/veya hizmetlerinin kesintisiz, güvenli veya hatasız olacağını kabul ve/veya garanti etmeyeceği gibi bu durumlardan doğan hiçbir zarardan da sorumlu tutulamayacaktır.

</p>
<br />
<p>
    Linkler ve Reklamlar
    Doctorla Platformu, tanıtım için; Siteler, üçüncü şahıslar tarafından sunulan ürünler ve/veya hizmetler ile ilgili linkler ve diğer içerikler için (kendi adına veya üçüncü şahıslar adına ücretli reklamlar dahil) herhangi bir kontrole sahip değildir. Üye, bu tür üçüncü şahıslara ait linklerden, içeriklerden, web sitelerinden, ürünlerinden veya hizmetlerinden Şirket’in sorumlu olmadığını kabul ve beyan eder. Üye, herhangi bir bağlantı, web sitesi, içerik, ürün ve/veya hizmet ile ilgili olarak veya bunlarla bağlantılı olarak ortaya çıkacak ya da bunlardan kaynaklanan herhangi bir hasar veya kayıp için Şirket’in doğrudan ve/veya dolaylı olarak sorumlu veya yükümlü olmayacağını kabul, beyan ve taahhüt eder.

</p>
<br />
<p>
    <b>  Fikri Mülkiyet Hakları</b>

</p>
<br />
<p>
    Doctorla, telif hakkıyla korunan materyaller, ticari sırlar, ticari markalar, patentler ve Doctorlaa ait (“Fikri Mülkiyet”) diğer mülkiyet bilgilerini, bağlı şirketlerinden birini veya lisans verenlerini içerir. İş bu sözleşme, Üye’ye sunduğu herhangi bir hizmet kapsamında yer alan Fikri Mülkiyet hakkının kullanımını vermez. Üye, Doctorla’ın Fikri Mülkiyetine bağlı veya benzer herhangi bir türev ve benzeri iş veya teknolojisini oluşturamaz. Üye, Sitede üyeliğinin alt lisansını vermeyeceğini, devretmeyeceğini,, satmayacağını, kiralamayacağını veya başka herhangi bir ticari kullanımda bulunmayacağını kabul ve beyan eder. Bu maddenin ihlali halinde Şirket tarafından aleyhlerine karşı tüm yasal yollara başvurulacağını, ayrıca ihlal nedeniyle doğabilecek tüm zararları derhal tazmin etmekle yükümlü olduğunu kabul ve taahhüt eder.

</p>
<br />
<p>
    Doctorla, tüm Fikri Mülkiyet Haklarının tek sahibidir. İş bu sözleşmede aksi belirtilmedikçe veya sağlanmadıkça, Doctorla, üzerinden görüntülenen veya Üye tarafından aktarılan verilerin kopyaları da dahil olmak üzere, tüm Fikri Mülkiyet ve içerikler üzerindeki tüm mülkiyet haklarını elinde bulundurur. Bu madde iş bu sözleşmenin sona ermesinden ve/veya feshedilmesinden sonra da geçerli olmaya devam edecektir.

</p>
<br />
<p>
    <b>  Sorumluluğun Sınırlandırılması</b>
    Doctorla Platformundaki tüm içerikler ve üye içerikleri (sınırlama olmaksızın metinler, resimler, grafikler, bağlantılar ve diğer materyaller dahil) 'olduğu gibi' ve 'kullanıma sunulduğu gibi' sağlanmaktadır. Şirket ve bağlı kuruluşları, iştirakleri, ortakları, lisans verenleri, tedarikçileri, çalışanları ve yöneticileri Doctorla Platformu içeriğinin veya Üye İçeriği' nin kullanımı, erişimi veya kullanılamaması, erişilememesinden doğan ya da bunlarla bağlantılı, doğrudan veya dolaylı olarak meydana gelen hasarlardan Şirket’in ağır ihmali nedeniyle meydana gelen zararlar hariç olmak üzere, sorumlu tutulamayacaktır.
    Üye, diğer Üyelerin veya üçüncü kişilerin Doctorla’in içeriğine veya yasalara aykırı paylaşımlarından Şirket ’in sorumlu olmayacağını kabul ve beyan eder. Bu paylaşımlar nedeniyle oluşabilecek tüm zararlardan Üye sorumlu olacaktır. Üye, Doctorla’dan materyal yükleme ya da Doctorla’ı kullanarak başka yollarla materyal ekleme ile ilgili risklerin tamamen kendine ait olduğunu kabul ve beyan eder. Ayrıca üye, söz konu materyalin yüklenmesinden dolayı bilgisayar sisteminde oluşabilecek her türlü hasar veya veri kaybının da kendi sorumluluğunda olduğunu kabul ve beyan eder.

</p>
<br />
<p>
    Tazminat
    Üye, İş bu sözleşme ile Şirket ve bağlı kuruluşları, iştirakleri, ortakları, lisans verenleri, tedarikçileri ile her birinin ilgili müdürlerini, yöneticilerini, çalışanlarını, hissedarlarını, yasal temsilcilerini, aracılarını, varislerini ve haleflerini (i) Doctorla Platformunu kullanması sonucu ortaya çıkan, (ii) Kullanım Şartlarını ihlal etmesinden doğan (iii) her türlü üçüncü şahsa ait hakları (bu yazılanlarla sınırlı olmamak üzere telif, fikri mülkiyet, gizlilik, ve benzeri hakları.) ihlal etmesinden doğan, (iv) üçüncü bir şahsın gönderilen Üye İçeriğinden zarar görmesi durumunda ortaya çıkan, (v) açıkça yasa hükümlerine aykırılık teşkil eden davranış ve paylaşımlarda bulunulması nedeniyle doğan, (ıv) uygulamaya gönderilen her türlü Üye İçeriğinden doğan her türlü zarar, kayıp, yükümlülük, talep, hasar, maliyet, maddi zarar, olası avukatlık masrafları da dahil olmak üzere tüm harcamalardan ve tüm hasarlardan muaf tuttuğunu ve olası tüm bu hasarlardan zarar görmemesini sağlamakla yükümlü olduğunu kabul, beyan ve taahhüt eder. Bu madde iş bu sözleşmenin sona ermesinden ve/veya feshedilmesinden sonra da geçerli olmaya devam edecektir.

</p>
<br />
<p>
    <b> Telif Hakkı Politikası</b>

</p>
<br />
<p>
    Şirket, başkalarının fikri mülkiyet haklarına saygı duyduğunu ve kullanıcılarından da bu hususa riayet edilmesini talep eder. Şirket, başkalarının fikri mülkiyet haklarını ihlal eden kullanıcıların hesabını veya erişimini sonlandırma hakkına sahiptir.
    Çalışmaların telif hakkı ihlali oluşturan bir şekilde kopyalandığı düşünüldüğünde, aşağıdaki bilgilerin tarafımızla paylaşılması arz ve talep edilmektedir.
    • Telif hakkı sahibinin veya adına yetkili kişinin elektronik veya fiziki imzası;
    • Telif hakkı alınmış çalışmanın bulunduğu yer de dahil olmak üzere telif hakkı açıklaması;
    • Telefon numaranız ve e-posta adresiniz;
    • Size ait kullanımın, telif hakkı sahibi, aracısı veya yasa tarafından izin verilmediğine beyan;

</p>
<br />
<p>
    Telif hakkı ihlali iddialarına ilişkin Telif Hakkı Temsilcisine ise aşağıda belirtilen iletişim adres ve telefonları kanalıyla ulaşım sağlanabilmektedir.
    Doctorla İstanbul
    Türkiye
    Telefon:
    E-posta yoluyla: Doctorla.com

</p>
<br />
<p>
    <b> Çeşitli Hükümler</b>

</p>
<br />
<p>
    Şirket, İş bu Sözleşme hükümlerini dilediği zaman değiştirebilecektir. Güncel Sözleşme, Üyeye herhangi bir yöntemle sunulduğu tarihte yürürlük kazanacaktır. Üye, Doctorla’ı kullanması halinde, yasaların izin verdiği ölçüde, yeni ve güncellenen Sözleşmeyi kabul ettiğini beyan ve kabul eder.
    Üye, işbu sözleşme ile ilgili görüş, yorum ve sorularını dilediği zaman  Doctorla.com adresine veya Doctorla İstanbul gönderebilecektir.

</p>
<br />
<p>
    Üye, işbu sözleşmeyi imzalayarak, onun Şirket’in ortağı, ortak girişimi, temsilcisi, yasal temsilcisi, işvereni çalışanı olarak yorumlanamayacağını, herhangi bir beyan, temsil veya taahhütte bulunma yetkisine sahip olmadığını kabul, beyan ve taahhüt eder.
    İş bu sözleşme Türkiye kanunlarına tabi olup, İş bu sözleşmeden doğan herhangi bir uyuşmazlığın çözümünde yalnızca İstanbul Anadolu Adliyesi ve İcra Daireleri mahkemeleri yetkilidir. İşbu sözleşme (ve burada referans olarak verilen ve referans olarak dahil edilen politikalar), Doctorla ve Üye arasındaki koşullar sözleşmenin tamamını kapsamaktadır. Doctorla, konuyla ilgili olarak, söz konusu herhangi bir taahhüt veya beyanda bulunmamıştır. İşbu sözleşmenin herhangi bir hükmünün, yasalara aykırı ve/veya geçersiz olması halinde, sözleşmenin bütünlüğünü etkilemez ise, sözleşmenin diğer madde hükümleri yürürlükte kalmaya devam edecektir.

</p>
<br />