
<section class="slider">
    <!-- Paradise Slider -->
    <div id="x_023_animated_layers" class="carousel slide x_023_animated_layers_indicators x_023_animated_layers_control_button thumb_scroll_x  ps_easeOutInCubic" data-ride="carousel" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <!-- 1st Indicator -->
            <li data-target="#x_023_animated_layers" data-slide-to="0" class="active"></li>
            <li data-target="#x_023_animated_layers" data-slide-to="1"></li>
            <li data-target="#x_023_animated_layers" data-slide-to="2"></li>
            <li data-target="#x_023_animated_layers" data-slide-to="3"></li>
            <li data-target="#x_023_animated_layers" data-slide-to="4"></li>
            <li data-target="#x_023_animated_layers" data-slide-to="5"></li>
            @*<li data-target="#x_023_animated_layers" data-slide-to="4"></li>*@
            <!-- 3rd Indicator -->
            @*<li data-target="#x_023_animated_layers" data-slide-to="3"></li>*@
            @*<li data-target="#x_023_animated_layers" data-slide-to="4"></li>*@
        </ol>
        <!-- Wrapper For Slides -->
        <div class="carousel-inner" role="listbox">
            <!-- 1st Slide -->
            @*
           <div class="item active">
            <!-- Content -->
            <div class="x_023_animated_layers_txt">
                <!-- Text -->
                <h2 data-animation="animated fadeInLeft">
                    İLGİNİZ İÇİN TEŞEKKÜR EDERİZ
                </h2>
                <p data-animation="animated fadeInLeft">Göstermiş olduğunuz bu özel ilgiden dolayı randevularımızın tamamı dolmuştur. İlginiz için teşekkür ederiz.</p>
            </div> <!-- /Text -->
            <div class="x_023_animated_layers_img" data-animation="animated fadeInUp">
                <!-- Image -->
                <img src="~/images/home/slider/tesekkürler.png" class="sliderfoto1" alt="x_023_animated_layers_image_01" style="margin-bottom:20%;">
            </div> <!-- /Image -->
        </div>
            *@

            <div class="item active">
                <!-- Content -->
                <div class="x_023_animated_layers_content">
                    <div class="x_023_animated_layers_txt">
                        <!-- Text -->
                        <p data-animation="animated fadeInLeft" style="display:flex;cursor:default">
                            <a style="margin-left:10px" href="#"><img width="250" src="~/images/home/slider/appstore.png" class="sliderfoto1" style="bottom:13%" alt="Apple Store"></a>
                            <a style="margin-left:10px" href="#"><img width="250" src="~/images/home/slider/googleplay.png" class="sliderfoto1" style="bottom:13%" alt="Google Play"></a>
                            <a style="margin-left:10px" href="#"><img width="250" src="~/images/home/slider/huaweistore.png" class="sliderfoto1" style="bottom:13%" alt="Huawei App Gallery"></a>
                        </p>
                        @* <p data-animation="animated fadeInLeft">Visit us Now or Make an Appointment! </p> *@
                    </div> <!-- /Text -->
                    <div class="x_023_animated_layers_img" data-animation="animated fadeInUp">
                        <!-- Image -->
                        <img src="~/images/home/slider/mobilapp.png" class="sliderfoto1" style="bottom:13%" alt="Ücretsiz Takip Modeli">
                    </div> <!-- /Image -->
                </div> <!-- /Content -->
            </div>

            <div class="item ">
                <!-- Content -->
                <div class="x_023_animated_layers_content">
                    <div class="x_023_animated_layers_txt">
                        <!-- Text -->
                        <h2 data-animation="animated fadeInLeft">
                            <span>ÜCRETSİZ</span> TAKİP MODELİ
                        </h2>
                        <p data-animation="animated fadeInLeft">Doctorla olarak hazırladığımız takip modelinde kendiniz için bir interaktif sağlık günlüğü oluşturun ve ileride yaşayacağınız tüm sağlık sorunları ortadan kaldırın.</p>
                        @* <p data-animation="animated fadeInLeft">Visit us Now or Make an Appointment! </p> *@
                        <a href="/Doctorla/TakipModeli/#takipModekiTanimi" data-animation="animated fadeInRight" class="btn mar-top-15">HEMEN DENE</a>
                    </div> <!-- /Text -->
                    <div class="x_023_animated_layers_img" data-animation="animated fadeInUp">
                        <!-- Image -->
                        <img src="~/images/home/slider/ucretsiztakip2.png?v=2" class="sliderfoto1" style="bottom:13%" alt="Ücretsiz Takip Modeli">
                    </div> <!-- /Image -->
                </div> <!-- /Content -->
            </div>

            <div class="item ">
                <!-- Content -->
                <div class="x_023_animated_layers_content x_023_animated_layers_content_right">
                    <div class="x_023_animated_layers_txt">
                        <!-- Text -->
                        <h2 data-animation="animated fadeInLeft">
                            Tanışma Seansı
                        </h2>
                        <p data-animation="animated fadeInLeft">Aklınızda bir sürü soru mu var? Doktorunuzu ve sistemi tanımak mı istiyorsunuz? <span>Yalnızca 10₺</span> karşılığında tanışma seanslarını deneyebilirsiniz.</p>
                        @* <p data-animation="animated fadeInLeft">Visit us Now or Make an Appointment! </p> *@
                        <a href="#" data-toggle="modal" data-target="#hizlirandevu" data-animation="animated fadeInRight" class="btn mar-top-15">HEMEN RANDEVU AL</a>
                    </div> <!-- /Text -->
                    <div class="x_023_animated_layers_img" data-animation="animated fadeInUp">
                        <!-- Image -->
                        <img src="~/images/home/slider/tanismaSeansi.png?v=2" class="sliderfoto1" alt="Tanışma Seansı" style="bottom:13%">
                    </div> <!-- /Image -->
                </div> <!-- /Content -->
            </div>
            <div class="item ">
                <!-- Content -->
                <div class="x_023_animated_layers_content">
                    <div class="x_023_animated_layers_txt">
                        <!-- Text -->
                        <h2 data-animation="animated fadeInLeft">
                            Randevu Talep Edin
                        </h2>
                        <p data-animation="animated fadeInLeft">Aradığınız tarihte bir randevu bulamadınız mı? Dilediğiğiniz tarihe ve zamana randevu talebi oluşturabilirsiniz.</p>
                        @* <p data-animation="animated fadeInLeft">Visit us Now or Make an Appointment! </p> *@
                        <a href="#" data-toggle="modal" data-target="#hizlirandevu" data-animation="animated fadeInRight" class="btn mar-top-15">HEMEN DENE</a>
                    </div> <!-- /Text -->
                    <div class="x_023_animated_layers_img" data-animation="animated fadeInUp">
                        <!-- Image -->
                        <img src="~/images/home/slider/randevutalepet.png?v=2" class="sliderfoto1" style="bottom:13%" alt="Randevu Talep Edin">
                    </div> <!-- /Image -->
                </div> <!-- /Content -->
            </div>

            <!-- /1st Slide -->
            <div class="item ">
                <!-- Content -->
                <div class="x_023_animated_layers_content">
                    <div class="x_023_animated_layers_txt">
                        <!-- Text -->
                        <h2 data-animation="animated fadeInLeft">
                            Sağlığınız İçin Doctorla Yanınızda
                        </h2>
                        <p data-animation="animated fadeInLeft">Sağlık ihtiyaçlarınız için doktorlarımız ile  kolay ve hızlı görüntülü görüşme desteği alarak sağlık sorunlarınızı evinizden çözüme ulaştırın.</p>
                        @* <p data-animation="animated fadeInLeft">Visit us Now or Make an Appointment! </p> *@
                        <a href="/Doctorla/Giris" data-animation="animated fadeInRight" class="btn mar-top-15">HEMEN KATIL</a>
                    </div> <!-- /Text -->
                    <div class="x_023_animated_layers_img" data-animation="animated fadeInUp">
                        <!-- Image -->
                        <img src="~/images/home/slider/SL.png?v=2" class="sliderfoto1" alt="Sağlığınız İçin Doctorla Yanınızda" style="bottom: 13%;">
                    </div> <!-- /Image -->
                </div> <!-- /Content -->
            </div> <!-- /1st Slide -->
            

            <!-- 2nd Slide -->
            <div class="item">
                <div class="x_023_animated_layers_content x_023_animated_layers_content_right">
                    <div class="x_023_animated_layers_txt">
                        <!-- Text -->
                        <h2 data-animation="animated fadeInLeft">A’DAN Z’YE SAĞLIK HİZMETİ</h2>
                        <p data-animation="animated fadeInLeft">Doctorla doktorlarıyla oturduğunuz yerden tüm sağlık sorunlarınızı çözmek için buradayız. </p>
                        @* <p data-animation="animated fadeInLeft">Visit us Now or Make an Appointment! </p> *@
                        <a href="#" data-toggle="modal" data-target="#hizlirandevu" data-animation="animated fadeInRight" class="btn mar-top-15">HEMEN RANDEVU AL</a>
                    </div> <!-- /Text -->
                    <div class="x_023_animated_layers_img sliderfoto2" data-animation="animated fadeInDown">
                        <!-- Image -->
                        <img src="~/images/home/slider/slider.png" class="" alt="A’DAN Z’YE SAĞLIK HİZMETİ" style="">
                    </div> <!-- /Image -->
                </div> <!-- /Content -->
            </div> <!-- /2nd Slide -->

            <!--<div class="item">
                <div class="x_023_animated_layers_content x_023_animated_layers_content_right">
                    <div class="x_023_animated_layers_txt">-->
                        <!-- Text -->
                        <!--<h2 data-animation="animated fadeInLeft">Toplum Sağlığı için Toplu Fayda</h2>
                        <p data-animation="animated fadeInLeft">Sağlık sorunlarınızı burada beraber çözüyoruz. Bunun yanında ihtiyaç sahiplerine bağışlar yapıyoruz.</p>
                        <a href="/Doctorla/Hakkimizda" data-animation="animated fadeInRight" class="btn mar-top-15">DETAYLI BİLGİ ALIN </a>
                    </div>--> <!-- /Text -->
                    <!--<div class="x_023_animated_layers_img sliderfoto3" data-animation="animated fadeInDown">-->
                        <!-- Image -->
                        <!--<img src="~/images/home/slider/slider-1.png" class="" alt="Toplum Sağlığı için Toplu Fayda" style="   ">
                    </div>--> <!-- /Image -->
                <!--</div>--> <!-- /Content -->
            <!--</div>--> <!-- /3rd Slide -->
            <div class="item">
                <div class="x_023_animated_layers_content x_023_animated_layers_content_right">
                    <div class="x_023_animated_layers_txt">
                        <!-- Text -->
                        <h2 data-animation="animated fadeInLeft">COVID-19 DAİR HER ŞEY</h2>
                        <p data-animation="animated fadeInLeft">Korona hakkında en güncel bilgiler, diyet programları, aktiviteler ve doktorlarımızın sizler için yazdığı yazılara bloğumuzdan ulaşabilirsiniz. </p>
                        @* <p data-animation="animated fadeInLeft">Visit us Now or Make an Appointment! </p> *@
                        <a href="/Blog" data-animation="animated fadeInRight" class="btn mar-top-15">BLOG SAYFASI </a>
                    </div> <!-- /Text -->
                    <div class="x_023_animated_layers_img" data-animation="animated fadeInDown">
                        <!-- Image -->
                        <img src="~/images/acil_durum/blog5.png" alt="COVID-19 DAİR HER ŞEY">
                    </div> <!-- /Image -->
                </div> <!-- /Content -->
            </div> <!-- /4nd Slide -->
        </div> <!-- End of Wrapper For Slides -->
        <!-- Left Control -->
        <a class="left carousel-control" href="#x_023_animated_layers" role="button" data-slide="prev">
            <span class="fa fa-angle-left"></span>
        </a>
        <!-- Right Control -->
        <a class="right carousel-control" href="#x_023_animated_layers" role="button" data-slide="next">
            <span class="fa fa-angle-right"></span>
        </a>
    </div> <!-- End Paradise Slider -->
    <div class="overlay"></div>
</section>
@*<script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script>
    $(document).ready(function () {
        $("#x_023_animated_layers").swiperight(function () {
            $(this).carousel('prev');
        });
        $("#x_023_animated_layers").swipeleft(function () {
            $(this).carousel('next');
        });
    });
</script>*@  