    <!-- Footer Starts -->
<footer class="mar-bottom-40">
    <div class="container">
        <div class="f-contact mar-bottom-50">
            <div class="row">
                @*<div class="col-md-4 col-sm-12">
                    <div class="f-contact-inner">
                        <div class="contact-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="contact-title">
                            <span class="white">+90 (212) 706 06 73</span>
                            <span class="white">Sorunuz mu var?<br /> Hemen İletişime Geçin</span>
                        </div>
                    </div>
                </div>*@
                <div class="col-md-6 col-sm-12">
                    <div class="f-contact-inner">
                        <div class="contact-icon">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="contact-title">
                            <span class="white">info@doctorla.co</span>
                            <span class="white">Soru ve Önerileriniz İçin</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="f-contact-inner">
                        <div class="contact-icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="contact-title">
                            <span class="white"> Sultan Selim Mah. Eski Büyükdere Cad. No: 61 Levent / İstanbul</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="lower-footer pad-bottom-50">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <div class="footer-contact mar-right-15">
                            <div class="footer-logo text-center mar-bottom-15">
                                <img src="~/images/logo.png" alt="Doctorla">

                            </div>

                        </div>
                        <div>
                            <img src="~/images/acil_durum/iyizico.png"  style="margin-top:20px; margin-bottom:20px; width:95%" />
                        </div>
                    </div>
                    
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="departments">
                                <h3>Bölümler</h3>
                                <ul>
                                    <li><a href="/Doctorla/Doktorlarimiz/BeslenmeveDiyet">Beslenme ve Diyet</a></li>
                                    <li><a href="/Doctorla/Doktorlarimiz/EmzirmeDanışmanı">Emzirme Danışmanı</a></li>
                                    <li><a href="/Doctorla/Doktorlarimiz/FizikTedaviveRehabilitasyon">Fizik Tedavi ve Rehabilitasyon</a></li>
                                    <li><a href="/Doctorla/Doktorlarimiz/Kardiyoloji">Kardiyoloji</a></li>
                                    <li><a href="/Doctorla/Doktorlarimiz/Odyoloji">Odyoloji</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <div class="facility">
                                <h3>Hizmetler</h3>
                                <ul>
                                    <li><a href="/Blog">Blog</a></li>
                                    <li><a href="/Doctorla/TibbiBirimler">Online Görüşme</a></li>
                                    <li><a href="/Doctorla/TakipModeli">Hasta Takip</a></li>
                                    <li><a href="/Doctorla/TakipModeli">Beslenme Takibi</a></li>
                                    <li><a href="/Doctorla/Doktorlarimiz/Psikiyatri">Online Terapi</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-5 col-xs-12">
                            <div class="facility">
                                <h3>Yasal</h3>
                                <ul>
                                    <li><a href="/cerezpolitikasi">Çerez Politikası</a></li>
                                    <li><a href="/satispolitikasi">Satış Politikası</a></li>
                                    <li><a href="/gizlilik">Gizlilik Sözleşmesi</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="copyright" style="position: absolute; bottom: 0px; padding-bottom: 16px;">
                            <div class="container">
                                <p>Copyright © 2020 <a href="https://www.doctorla.co" target="_blank">doctorla.co</a></p>
                            </div>
                        </div>
                    </div>
                </div>
</footer>
<!-- Footer Ends -->




<script>

</script>