<link href="~/css/panel.css" rel="stylesheet" />

        <div class="col-xs-12 panel">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h5 id="appointdoctor"></h5>
                </div>
            </div>
                <div class="row">
                    <div class="col-xs-12 panel-kontrol" style="text-align:center;">
                        <button onclick="suresec(-1, 0)" style="float:left;"  id="geri-tarih">
                            <i class="fa fa-chevron-left"></i>
                        </button>
                        <span class="panel-bilgi" id="appointdate"></span>
                        <button onclick="suresec(-1, 1)"  style="float:right;" id="ileri-tarih">
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            <div class="row">
                <div class="col-xs-12 panel-renkler">
                    <div class="alinmamis-randevu"><span></span> Müsait Randevu</div>
                    <div class="alinmis-randevu"><span></span> Alınmış Randevu</div>
                    <div class="tanisma-randevusu"><span></span> Tanışma Randevusu</div>
                </div>
            </div>
                <div class="row">
                    <div class="col-xs-12 table-responsive">
                        <table class="panel-tablo" id="appointtimes">
                            <tr>
                            </tr>
                        
                        </table>
                    </div>
                </div>
        </div>
   