	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/07/2020 15:07
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-nutrition:before { content: "\f100"; }
.flaticon-pediatry:before { content: "\f101"; }
.flaticon-cough:before { content: "\f102"; }
.flaticon-blood-test:before { content: "\f103"; }
.flaticon-mother:before { content: "\f104"; }
.flaticon-physiotherapy:before { content: "\f105"; }
.flaticon-physical:before { content: "\f106"; }
.flaticon-welfare:before { content: "\f107"; }
.flaticon-united:before { content: "\f108"; }
.flaticon-stay-home:before { content: "\f109"; }
.flaticon-drop-counter:before { content: "\f10a"; }
.flaticon-diabetes:before { content: "\f10b"; }
.flaticon-pregnant:before { content: "\f10c"; }
.flaticon-null:before { content: "\f10d"; }
.flaticon-valentines-day:before { content: "\f10e"; }
.flaticon-test:before { content: "\f10f"; }
.flaticon-analysis:before { content: "\f110"; }
.flaticon-medical-report:before { content: "\f111"; }
.flaticon-individual:before { content: "\f112"; }
.flaticon-coronavirus:before { content: "\f113"; }
.flaticon-check-list:before { content: "\f114"; }
.flaticon-checklist:before { content: "\f115"; }
.flaticon-hands-and-gestures:before { content: "\f116"; }
.flaticon-healthcare-and-medical:before { content: "\f117"; }
.flaticon-healthcare-and-medical-1:before { content: "\f118"; }
.flaticon-architectonic:before { content: "\f119"; }
.flaticon-profile:before { content: "\f11a"; }
.flaticon-interface:before { content: "\f11b"; }
.flaticon-avatar:before { content: "\f11c"; }
.flaticon-oncology:before { content: "\f11d"; }
.flaticon-baby:before { content: "\f11e"; }
.flaticon-digestive-system:before { content: "\f11f"; }
.flaticon-blood-tube:before { content: "\f120"; }
.flaticon-blood-sample:before { content: "\f121"; }
.flaticon-blood-sample-1:before { content: "\f122"; }
.flaticon-cardiology:before { content: "\f123"; }
.flaticon-mental-health:before { content: "\f124"; }
.flaticon-heart:before { content: "\f125"; }
.flaticon-x-ray:before { content: "\f126"; }
.flaticon-newborn:before { content: "\f127"; }
.flaticon-baby-boy:before { content: "\f128"; }
.flaticon-kidneys:before { content: "\f129"; }
.flaticon-kidneys-1:before { content: "\f12a"; }
.flaticon-dermatology:before { content: "\f12b"; }
.flaticon-infected-lungs:before { content: "\f12c"; }
.flaticon-virus:before { content: "\f12d"; }
.flaticon-lungs:before { content: "\f12e"; }
.flaticon-medical-tools:before { content: "\f12f"; }
.flaticon-chest-pain:before { content: "\f130"; }
.flaticon-lung:before { content: "\f131"; }
.flaticon-eye:before { content: "\f132"; }
.flaticon-spinal-column:before { content: "\f133"; }
.flaticon-stomach:before { content: "\f134"; }
.flaticon-ribbon:before { content: "\f135"; }
.flaticon-gynecology:before { content: "\f136"; }
.flaticon-vaginal-speculum:before { content: "\f137"; }
.flaticon-sexual-health:before { content: "\f138"; }
.flaticon-heart-1:before { content: "\f139"; }
.flaticon-kidney:before { content: "\f13a"; }
.flaticon-neurology:before { content: "\f13b"; }
.flaticon-neurology-1:before { content: "\f13c"; }
.flaticon-bandage:before { content: "\f13d"; }
.flaticon-injury:before { content: "\f13e"; }
.flaticon-broken-leg:before { content: "\f13f"; }
.flaticon-broken-arm:before { content: "\f140"; }
.flaticon-surgery:before { content: "\f141"; }
.flaticon-beauty:before { content: "\f142"; }
.flaticon-rhinoplasty:before { content: "\f143"; }
.flaticon-inspiration:before { content: "\f144"; }
.flaticon-mental-health-2:before { content: "\f145"; }
.flaticon-radiotherapy:before { content: "\f146"; }
.flaticon-radiation:before { content: "\f147"; }
.flaticon-joint:before { content: "\f148"; }
.flaticon-pelvis:before { content: "\f149"; }
.flaticon-quit-smoking:before { content: "\f14a"; }
.flaticon-quit-smoking-1:before { content: "\f14b"; }
.flaticon-quit-smoking-2:before { content: "\f14c"; }
.flaticon-quit-smoking-3:before { content: "\f14d"; }
.flaticon-radiotherapy-1:before { content: "\f14e"; }
.flaticon-kidney-1:before { content: "\f14f"; }
.flaticon-burn:before { content: "\f150"; }
.flaticon-protection:before { content: "\f151"; }
.flaticon-babies:before { content: "\f152"; }
.flaticon-baby-girl:before { content: "\f153"; }
.flaticon-sore-throat:before { content: "\f154"; }
.flaticon-intestine:before { content: "\f155"; }
.flaticon-respiratory-system:before { content: "\f156"; }
.flaticon-care:before { content: "\f157"; }
.flaticon-joint-1:before { content: "\f158"; }
.flaticon-neurosurgery:before { content: "\f159"; }
.flaticon-surgery-1:before { content: "\f15a"; }
.flaticon-adrenal-gland:before { content: "\f15b"; }
.flaticon-kulakburunbugaz:before { content: "\f15c"; }
.flaticon-uroloji:before { content: "\f15d"; }
.flaticon-baby-1:before { content: "\f15e"; }
.flaticon-height:before { content: "\f15f"; }
.flaticon-newborn-1:before { content: "\f160"; }
.flaticon-mother-1:before { content: "\f161"; }
.flaticon-baby-drinking-bottle:before { content: "\f162"; }
.flaticon-breastfeeding:before { content: "\f163"; }
.flaticon-sleep:before { content: "\f164"; }
.flaticon-slumber:before { content: "\f165"; }
.flaticon-bed:before { content: "\f166"; }
.flaticon-newborn-2:before { content: "\f167"; }
.flaticon-listening:before { content: "\f168"; }
.flaticon-analysis-1:before { content: "\f169"; }
.flaticon-newspaper:before { content: "\f16a"; }
.flaticon-profits:before { content: "\f16b"; }
.flaticon-coronavirus-1:before { content: "\f16c"; }
.flaticon-monitor:before { content: "\f16d"; }
.flaticon-internet:before { content: "\f16e"; }
.flaticon-blood-pressure-meter:before { content: "\f16f"; }
.flaticon-blood-pressure-gauge:before { content: "\f170"; }
.flaticon-thermometer:before { content: "\f171"; }
.flaticon-fever:before { content: "\f172"; }
.flaticon-diabetes-1:before { content: "\f173"; }
.flaticon-heart-2:before { content: "\f174"; }
.flaticon-heartbeat:before { content: "\f175"; }
.flaticon-medical-insurance:before { content: "\f176"; }
.flaticon-drinking-water:before { content: "\f177"; }
.flaticon-glass-of-water:before { content: "\f178"; }
.flaticon-body-mass:before { content: "\f179"; }
.flaticon-weighing-machine:before { content: "\f17a"; }
.flaticon-mental-health-3:before { content: "\f17b"; }
.flaticon-drugs:before { content: "\f17c"; }
.flaticon-blood-test-1:before { content: "\f17d"; }
.flaticon-cholesterol:before { content: "\f17e"; }
.flaticon-cholesterol-1:before { content: "\f17f"; }
.flaticon-vitamin:before { content: "\f180"; }
.flaticon-vitamins:before { content: "\f181"; }
.flaticon-insulin:before { content: "\f182"; }
.flaticon-analytics:before { content: "\f183"; }
.flaticon-pill:before { content: "\f184"; }
.flaticon-reminder:before { content: "\f185"; }
.flaticon-technological-support:before { content: "\f186"; }
.flaticon-nurse:before { content: "\f187"; }
.flaticon-parental-control:before { content: "\f188"; }
.flaticon-insurance:before { content: "\f189"; }
.flaticon-medical-report-1:before { content: "\f18a"; }
.flaticon-energy:before { content: "\f18b"; }
.flaticon-body:before { content: "\f18c"; }
.flaticon-contact:before { content: "\f18d"; }
.flaticon-success:before { content: "\f18e"; }
.flaticon-check:before { content: "\f18f"; }
.flaticon-medicine:before { content: "\f190"; }
.flaticon-file:before { content: "\f191"; }