@model Data.Domain.DailyCheckPackages
@using Data.Domain
@{
    List<DailyCheckPackagesValues> packagesValues = ViewBag.PackageValues as List<DailyCheckPackagesValues>;
    string[] values = Model.PackageValues.Split(',');
}
<link href="~/css/select2.min.css" rel="stylesheet" />

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ölçüm Ekle</h5>
            <button type="button" class="close modal-kapat" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="hatirlatici-form">
                <div class="hatirlatici-form-group">
                    <label for="degerler">Değer Seçiniz</label>
                    <div>
                        <select class="js-example-basic-multiple" name="states[]" id="degerler" multiple="multiple">
                            @foreach (var item in packagesValues)
                            {
                                if (values.Contains(item.Id.ToString()))
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>

                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn iptal" data-dismiss="modal">Kapat</button>
            <button type="button" class="btn kaydet" onclick="updateUserDailycheckDetails()">Kaydet</button>
        </div>
    </div>
</div>
<script src="~/js/select2.full.min.js"></script>

<script>

    $(document).ready(function () {
        $('.js-example-basic-multiple').select2({
            placeholder: "Değer Seçiniz"

        });

    });
    var silinmisler = new Array();
    var eklenen = new Array();
    var silinmis = '';
    $(document).ready(function () {
        $("#degerler").select2();
        $("#degerler").data('originalvalues', []);
        $("#degerler").on('change', function (e) {
            var that = this;
            removed = []

            $($(this).data('originalvalues')).each(function (k, v) { //nerde alıyon
                if (!$(that).val()) {
                    removed[removed.length] = v;
                    return false;
                }
                if ($(that).val().indexOf(v) == -1) {
                    removed[removed.length] = v;
                }
            });


            if ($(this).val()) {
                $(this).data('originalvalues', $(this).val());
            } else {
                $(this).data('originalvalues', []);
            }

            if (removed.length > 0 && silinmisler.indexOf(removed.toString()) == -1) {
                silinmisler.push(removed.toString());
                // SİLİNMİŞ DİZİSİ
            }
        });
        var items = $('#degerler').select2('data');
        items.forEach(function (item) {
            selected.push(item.id.toString());
        })

    });

    var selected = new Array();
    function updateUserDailycheckDetails() {
        var items = $('#degerler').select2('data');
        eklenen = new Array();
        var news = new Array();
        items.forEach(function (item) {
            news.push(item.id);
        })
        selected.forEach(function (item) {
            if (news.indexOf(item) == -1) {
                console.log("4:" + item);
                silinmisler.push(item);
            }
        })

        items.forEach(function (item) {
            if (silinmisler.indexOf(item.id) != -1)
                silinmisler.pop(silinmisler.indexOf(item.id));
            eklenen.push(item.id);
        })
        var string = "";
        for (var i = 0; i < eklenen.length; i++) {
            string += eklenen[i] + ",";
        }
        string = string.slice(0, -1);
        $.ajax({
            url: '/AdminPanel/UpdatePackageValues',
            data: { Id: updatedailycheckdetailId, added: string },
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                $('#olcumbelirle').modal('hide');
                setTimeout(function () {
                    Swal.fire({
                        icon: 'success',
                        title: 'Paket Başarıyla Güncellendi',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    location.reload();
                }, 100);
              
            },
            error: function (data) {
                toastr.error('Veriler Yüklenirken Bir Sorunla Karşılaşıldı. Lütfen Bu Durumu Bize Bildiriniz..', 'Hata!');
            }
        });
        console.log(string);
    }

</script>